{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Add Vulnerability</h1>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <form class="form-vertical" action="/manual_scan/add_vuln_data/" method="POST">{%
                                        csrf_token %}
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label for="fname"
                                                       class="col-sm-2 text-right control-label col-form-label">Name</label>
                                                <div class="col-sm-6">
                                                    <input name="vuln_name" class="form-control" id="fname"
                                                           placeholder="Vulnerability Name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-sm-2 text-right control-label col-form-label">Severity</label>
                                                <div class="col-sm-8">
                                                    <select name="vuln_severity"
                                                            class="select2 form-control custom-select"
                                                            style="width: 30%; height:36px;">
                                                        <option value="High">High</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Low">Low</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-sm-2 text-right control-label col-form-label">Description:</label>
                                                <div class="col-sm-8">
                                                    <textarea name="vuln_description" class="form-control"
                                                              placeholder="Vulnerability Description"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-sm-2 text-right control-label col-form-label">Remediation</label>
                                                <div class="col-sm-8">
                                                    <textarea name="vuln_remediation" class="form-control"
                                                              placeholder="Vulnerability Remediation"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-sm-2 text-right control-label col-form-label">References:</label>
                                                <div class="col-sm-8">
                                                    <textarea name="vuln_references" class="form-control"
                                                              placeholder="Vulnerability References"></textarea>
                                                </div>
                                            </div>
                                            <div class="float-right">
                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}