{% extends 'dashboard/base.html' %}

{% block body %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Create</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="form-group">
                                <form class="form-horizontal" method="POST" action="/manual_scan/add_list_scan/">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-md-3 m-t-5">Target</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="scan_url" class="form-control"
                                                   value="" placeholder="Target URL or Host">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 m-t-5">Project</label>
                                        <div class="col-md-9">
                                            <select id="project_id" name="project_id"
                                                    class="select2 form-control custom-select"
                                                    style="width: 100%; height:36px;">
                                                {% for data in all_projects %}
                                                <option value="{{data.project_id}}">{{data.project_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 m-t-5">Pentest Type</label>
                                        <div class="col-md-9">
                                            <select name="pentest_type"
                                                    class="select2 form-control custom-select"
                                                    style="width: 100%; height:36px;">

                                                <option value="network">Network</option>
                                                <option value="web">Web</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}