argcomplete==1.9.3
asn1crypto==0.23.0
astroid==1.6.6
awscli==1.16.188
backports.csv==1.0.7
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
boto3==1.9.178
botocore==1.12.178
certifi==2019.3.9
cffi==1.11.2
cfn-flip==1.2.1
chardet==3.0.4
Click==7.0
colorama==0.3.9
configparser==3.5.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
cryptography==3.3.2
cssselect2==0.2.1
defusedxml
diff-match-patch==20181111
Django==1.11.21
django-appconf==1.0.2
django-background-tasks==1.2.0
django-compat==1.0.15
django-cryptography==0.3
django-debug-toolbar==1.10.1
django-easy-pdf==0.1.1
django-fernet-fields==0.5
django-import-export==1.2.0
django-model-utils==3.2.0
django-notifications-hq==1.5.0
django-s3-storage==0.12.4
django-settings-export==1.2.1
django-sitetree==1.12.0
django-stronghold==0.3.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
dnspython==1.16.0
docutils==0.14
durationpy==0.5
enum34==1.1.6
et-xmlfile==1.0.1
future==0.16.0
futures==3.2.0
gunicorn==19.9.0
hjson==3.0.1
html5lib==1.0.1
httplib2==0.19.0
idna==2.6
ipaddress==1.0.18
isort==4.3.17
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jira==2.0.0
jmespath==0.9.3
jsonfield==2.0.2
kappa==0.6.0
lambda-packages==0.20.0
lazy-object-proxy==1.3.1
lxml==4.6.2
MarkupSafe
mccabe==0.6.1
oauthlib==2.0.7
odfpy==1.4.0
openpyxl==2.6.2
openvas-lib
ordereddict==1.1
pbr==4.0.3
pdfrw==0.4
Pillow==6.0.0
placebo==0.9.0
psycopg2-binary==2.7.5
pyasn1==0.4.5
PyBurprestapi==0.4
pycparser==2.18
PyJWT==1.6.1
pylint==1.9.3
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.6.1
python-nmap==0.6.1
python-owasp-zap-v2.4==0.0.13
python-slugify==1.2.4
python-taint==0.40
python-whois==0.6.2
pytz==2017.3
PyYAML==5.1
reportlab==3.4.0
requests==2.20.0
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.2.1
selenium==3.8.0
singledispatch==3.4.0.3
six==1.11.0
soupsieve==1.9.2
sqlparse==0.3.0
tablib==0.13.0
tinycss2==0.6.1
toml==0.10.0
tqdm==4.19.1
troposphere==2.4.9
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.25.3
webencodings==0.5.1
Werkzeug==0.15.4
whitenoise==3.3.0
wrapt==1.10.11
wsgi-request-logger==0.4.6
xhtml2pdf
xlrd==1.2.0
xlwt==1.3.0
zappa==0.48.2
