<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
            <style>
                            [data-sidebartype="full"] .logo-icon {
                                                    display: none; }


            </style>
            <a class="navbar-brand" href="/">
                <b class="logo-icon p-l-6">
                    <img src="/static/logo.png" class="light-logo" style="height: 3.1rem;"/>

                </b>
                <span class="logo-text">
                             <img src="/static/archery.png" class="light-logo" style="height: 3.6rem;"/>

                        </span>
            </a>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
               data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
            <ul class="navbar-nav float-left mr-auto">
                <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                                          href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                        class="mdi mdi-menu font-24"></i></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-none d-md-block">Create New <i class="fa fa-angle-down"></i></span>
                        <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/webscanners/">Domain Scans</a>
                        <a class="dropdown-item" href="/networkscanners/ip_scan">Network Scans</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/projects/create_form/">Projects</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                {% include "notification.html" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                            src="/static/matrix-admin-bt4/assets/images/users/1.jpg" alt="user"
                            class="rounded-circle" width="31"></a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/webscanners/setting/"><i class="ti-settings m-r-5 m-l-5"></i>
                            Setting</a>
                        <a class="dropdown-item" href="/api/docs/"><i class="fas fa-cog m-r-5 m-l-5"></i>
                            API</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout/"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>