<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="{% url 'dashboard:dashboard' %}" aria-expanded="false"><i
                        class="fas fa-tachometer-alt"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="my-2 mx-3 border-top"></li>
                <!-- Manual Scans -->
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="{% url 'archerysettings:settings' %}" aria-expanded="false"><i
                        class="fas fa-laptop"></i><span class="hide-menu">Connectors</span></a></li>
                {% if user.is_superuser == True %}
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                href="{% url 'list_user' %}" aria-expanded="false"><i
                            class="ti-user m-r-5 m-l-5"></i><span class="hide-menu">Users</span></a></li>
                {% endif %}
                {% if user.is_superuser == True %}
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                href="{% url 'list_org' %}" aria-expanded="false"><i
                            class="fas fa-building"></i><span class="hide-menu">Organization</span></a></li>
                {% endif %}
                {% if user.is_superuser == True %}
                    <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                href="{% url 'archeryapi:access-key' %}" aria-expanded="false"><i
                            class="fas fa-key"></i><span class="hide-menu">Access Keys</span></a></li>
                {% endif %}

                <li class="my-3 mx-3 border-top"></li>
                <li class="sidebar-item"><a class="sidebar-link" href="https://docs.archerysec.com/" target="_blank"
                                            aria-expanded="false"><i
                        class="fas fa-book"></i><span class="hide-menu">Documents</span></a>
                </li>
                <li class="my-3 mx-3 border-top"></li>
                <li class="sidebar-item"><a class="sidebar-link"
                                            href="https://github.com/archerysec/archerysec/releases/tag/v2.0.1"
                                            target="_blank"
                                            aria-expanded="false"><i
                        class="fas fa-external-link-alt"></i><span class="hide-menu">Changelogs</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
        <div class="my-3 mx-3">
            <ul>
                Version v2.0.2
            </ul>
        </div>

    </div>
    <!-- End Sidebar scroll-->
</aside>