[Unit]
Description=Archery Sec
After=network.target owasp-zap.service burp-api.service openvas-manager.service

[Service]
ExecStart=/usr/bin/python2.7 -u manage.py runserver 0.0.0.0:8000
WorkingDirectory=/opt/archerysec
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=archery
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
