{% extends 'dashboard/base.html' %}

{% block body %}
{% for data in npmaudit_vuln_details %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-auto">
                    <div class="float-right">
                        <!-- Large modal -->
                        <a href="/jira/submit_jira_ticket/?summary={{ data.title }}&description=%0a%0a%0a {{data.overview | safe}}  Module: {{data.module_name | safe}} %0a%0a Vulnerable Version :  {{data.vulnerable_versions | safe}} %0a%0aPatched Versions : {{data.patched_versions | safe}} %0a%0a Title: {{ data.title }} %0a%0a References: {{data.url | safe}} %0a%0a  Archery URL: {SERVERIP}/npmaudit/vuln_dat/?vuln_id={{data.vuln_id}} &scanner=npmaudit&vuln_id={{data.vuln_id}}&scan_id={{data.scan_id}} "
                           class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Create Jira
                            Ticket</a>

                    </div>
                </div>
                <h1>{{ data.title }}</h1>
                <br>
                <div class="card">
                    <div class="accordion" id="accordionExample">
                        <div class="card m-b-0">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                       aria-controls="collapseOne">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>Description</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.overview | safe}}
                                </div>
                                <div class="card-body">
                                     Module:
                                    {{data.module_name | safe}}
                                </div>
                                 <div class="card-body">
                                     Public:
                                    {{data.access | safe}}
                                </div>
                                <div class="card-body">
                                     Severity:
                                    {{data.severity | safe}}
                                </div>
                                <div class="card-body">
                                     More Details:
                                    <a href="{{data.url | safe}}">{{data.url | safe}}</a>
                                </div>

                            </div>
                        </div>
                        <div class="card m-b-0">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                       aria-controls="collapseThree">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>Vulnerable Versions</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.vulnerable_versions | safe}}
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-0">
                            <div class="card-header" id="headingFoure">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseFoure" aria-expanded="true"
                                       aria-controls="collapseFoure">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>Patched Versions</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFoure" class="collapse show" aria-labelledby="headingFoure"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.patched_versions | safe}}
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-0">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                       aria-controls="collapseFive">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>References</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.references | safe}}
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-0">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                       aria-controls="collapseSix">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>Recommendation</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.recommendation}}
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-0">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                                       aria-controls="collapseSeven">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>found_by</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.found_by}}
                                    {{data.reported_by}}
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-0">
                            <div class="card-header" id="headingNine">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                                       aria-controls="collapseNine">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>CWE</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse show" aria-labelledby="headingNine"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.cwe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}