{% extends 'tablehead.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function() {
        $("button").click(function(){
            var scan_id = [];
            $.each($("input[name='del_scan_id']:checked"), function(){
                scan_id.push($(this).val());
            });

            var json_scanid = scan_id.join(", ");
            $.ajax({
                type:'POST',
                <!--contentType: 'application/json; charset=utf-8',-->
                url:'/dependencycheck/del_dependencycheck',
                data:{
                   scan_id: json_scanid,
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
            setTimeout(location.reload(), 6000);
        });

    });

</script>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">Dependency Check Scans List</a></div>

        <h1>Dependencycheck Scans</h1>
    </div>

    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        <h5>dependencycheck Scanner Scan List</h5>
                        <div class="buttons">
                            <a data-toggle="modal" href="/webscanners/xml_upload"
                               class="btn btn-primary btn-mini"><i class="icon-upload-alt"></i> Upload
                                Report</a>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btn btn-danger btn-mini" onclick="">Delete Selected</button>
                        </div>

                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th><p><label><input type="checkbox" id="checkAll"/></label></p></th>
                                <th>Project Name</th>
                                <th>Status</th>
                                <th>Date Time</th>
                                <th>Total Vulnerability</th>
                                <th>HIGH</th>
                                <th>MEDIUM</th>
                                <th>LOW</th>
                                <th>Duplicates</th>
                                <!--<th>Action</th>-->
                                <!--<th></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>{% for data in all_dependencycheck_scan %}
                            <tr data-target="#">
                                <td>
                                    <form>
                                        <label><input type="checkbox" value="{{data.scan_id}}" name="del_scan_id"
                                                      onClick="reload">

                                        </label>
                                        <!--<br>-->
                                        <!--<button type="button" >Get Values</button>-->
                                    </form>
                                </td>
                                <td>
                                    <a href="/dependencycheck/dependencycheck_all_vuln/?scan_id={{data.scan_id}}">{{data.project_name}}</a>
                                </td>
                                <td width="20%">
                                    <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                        <div class="bar" style="width: {{data.scan_status}}%">{{data.scan_status}} %</div>
                                    </div>
                                </td>
                                <td>{{data.date_time}}</td>
                                <td><span class="badge badge-inverse">{{data.total_vuln}}</span></td>
                                <td><span class="badge badge-important">{{data.SEVERITY_HIGH}}</span></td>
                                <td><span class="badge badge-warning">{{data.SEVERITY_MEDIUM}}</span></td>
                                <td><span class="badge badge-info">{{data.SEVERITY_LOW}}</span></td>
                                <td><span class="badge badge-important">{{data.total_dup}}</span></td>
                                <!--<td>-->
                                    <!--<form action="/zapscanner/zap_scan_pdf_gen/" method="post" class="forms-sample">-->

                                        <!--{% csrf_token %}-->
                                        <!--<input type="hidden" name="scan_id" value="{{data.scan_scanid}}"/>-->
                                        <!--<input type="hidden" name="scan_url" value="{{data.scan_url}}"/>-->

                                        <!--<button class="btn btn-success"><i class="icon-file"></i></button>-->
                                    <!--</form>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<div class="btn-group">-->

                                        <!--<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span-->
                                                <!--class="caret"></span></a>-->
                                        <!--<ul class="dropdown-menu">-->
                                            <!--<li><a href="/zapscanner/zap_list_vuln/?scan_id={{data.scan_scanid}}"><i-->
                                                    <!--class="icon-pencil"></i> View </a></li>-->
                                            <!--<li>-->
                                                <!--<form action="/zapscanner/zap_rescan/" method="POST"-->
                                                      <!--class="forms-sample">-->
                                                    <!--{% csrf_token %}-->
                                                    <!--<input type="hidden" name="old_scan_id"-->
                                                           <!--value="{{data.scan_scanid}}"/>-->
                                                    <!--<input type="hidden" name="scan_url"-->
                                                           <!--value="{{data.scan_url}}"/>-->
                                                    <!--<input type="hidden" name="project_id"-->
                                                           <!--value="{{data.project_id}}"/>-->
                                                     <!--<button class="btn btn-info btn-mini"><i-->
                                                        <!--class="icon-play"></i> Re-Scan </button>-->
                                                <!--</form>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <td>
                                    <form action="/dependencycheck/del_dependencycheck" method="post" class="forms-sample">
                                        {% csrf_token %}
                                        <input type="hidden" name="scan_id" value="{{data.scan_id}}"/>
                                        <!--<input type="hidden" name="scan_url" value="{{data.scan_url}}"/>-->
                                        <button class="btn btn-danger"><i class="icon-remove"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
