{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in dependencycheck_vuln_details %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/acunetixscanner/web_vuln_list/?scan_id={{data.scan_id}}" title="Go to Home"
                                class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.test_name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">

                    <li>
                        <a href="/jira/submit_jira_ticket/?summary={{data.VulnName}}&description={{data.VulnName}}%0a%0a%0a Vulnerable URL: {{data.vuln_url}} %0a%0a Vulnerable Parameter: {{data.vector_input_values}} %0a%0a Solution: {{data.remedy_guidance}} %0a%0a Archery URL: {SERVERIP}/acunetixscanner/acunetix_vuln_data/?vuln_id={{data.vuln_id}} %0a%0a Request Header: {{ data.request_raw }}&scanner=acunetix&vuln_id={{data.vuln_id}}&scan_id={{data.scan_id}} "><i
                                class="icon-random"></i> Jira Ticket</a>
                    </li>
                </ul>
            </div>

            <h1>{{ data.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info">{{ data.name }}</span>

                        <strong> </strong><br><br>
                        <strong> False Positive: </strong>
                        <form method="POST" action="/acunetixscanner/acunetix_vuln_out/">{% csrf_token %}
                            <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                            <input type="hidden" name="false" value="Yes">
                            <input type="hidden" name="vuln_name" value="{{data.VulnName}}">
                            <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                            <button class="btn btn-info btn-mini">YES</button>
                        </form>
                        <br>
                        <strong> Severity: </strong> <span class="badge-{{data.vul_col}}"> {{ data.severity }}</span> <br>
                            <br>
                        <strong> Vulnerable File Name : </strong>
                        <code><a href="{{data.fileName}}">
                            {{data.fileName}}</a>
                        </code>
                        <br><br>
                        <strong> Vulnerable File Path : </strong>
                        <code><a href="{{data.fileName}}">
                            {{data.filePath}}</a>
                        </code>
                        <br><br>

                    </div>
                </div>

                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Issue Detail:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.description | safe}}

                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Evidence Collected:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.evidenceCollected | safe}}

                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>CWE:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.cwe | safe}}

                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>vulnerableSoftware:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.vulnerableSoftware | safe}}

                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Code:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre>{{data.references | safe}}</pre>
                        <br><br>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Solutions:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <a href="{{data.more_info | safe}}">{{data.more_info | safe}}</a>
                        <br><br>
                    </div>
                </div>
                <!--<div class="widget-box">-->
                <!--<div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>-->
                <!--<h5>Exploitation:</h5>-->
                <!--</div>-->
                <!--<div class="widget-content">-->
                <!--<span class="label label-info"></span>-->
                <!--<strong></strong> {{data.requiredSkillsForExploitation | safe}}-->
                <!--<br><br>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="widget-box">-->
                <!--<div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>-->
                <!--<h5>References:</h5>-->
                <!--</div>-->
                <!--<div class="widget-content">-->
                <!--<span class="label label-info"></span>-->
                <!--<strong></strong> {{data.highlightSelections | safe}}-->
                <!--{{data.remedyReferences | safe}}-->
                <!--<br><br>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="widget-box">-->
                <!--<div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>-->
                <!--<h5>Proof Of Concept:</h5>-->
                <!--</div>-->
                <!--<div class="widget-content">-->
                <!--<span class="label label-info"></span>-->
                <!--<strong></strong> {{data.reportSection | safe}}-->
                <!--<br><br>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="span12 ">&ndash;&gt;-->
                <!--<div class="widget-box">-->
                <!--<div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>-->
                <!--<h5>Request Header:</h5>-->
                <!--</div>-->
                <!--<div class="widget-content">-->
                <!--<span class="label label-info"></span>-->
                <!--<pre-->
                <!--&gt;{{ data.rawrequest }} <br></pre>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="span12">&ndash;&gt;-->
                <!--<div class="widget-box">-->
                <!--<div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>-->
                <!--<h5>Response Header:</h5>-->
                <!--</div>-->
                <!--<div class="widget-content">-->
                <!--<span class="label label-info"></span>-->
                <!--<pre-->
                <!--&gt;{{ data.rawResponse }} </pre>-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}