

{% extends 'dashboard/base.html' %}

{% block body %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Vulnerability List</h1>
                        </div>
                        <br>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="bandit_scan_list" class="table table-bordered data-table table-fixed" width="100%">
                            <thead>
                            <tr>
                                <!--<th>Project ID</th>-->
                                <th>Vulnerability</th>
                                <th>Risk</th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody>{% for data in bandit_all_vuln %}
                            <tr data-target="#">
                                <!--<td>{{data.project_id}}</td>-->
                                <td><a href="/banditscanner/banditscan_vuln_data/?scan_id={{data.scan_id}}&test_name={{data.test_name}}">{{data.test_name}}</a>
                                </td>
                                <td><span class="badge badge-pill badge-{{data.vul_col}}">{{data.issue_severity}}</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}