{% extends 'header.html' %}
{% block body %}


<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <!--<div class="span3 offset6">-->
            <!--{% if messages %}-->

            <!--{% for message in messages %}-->
            <!--<div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"-->
                                                            <!--href="#">×</a>-->
                <!--<p class="alert-heading">{{ message }}</p>-->
            <!--</div>-->
            <!--{% endfor %}-->

            <!--{% endif %}-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span5 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Add Scan</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" action="/projects/add_scan/">{% csrf_token %}
                            <input name="project_id" value="{{project_id}}" type="hidden">
                            <div class="control-group">
                                <label class="control-label">Scan Type :</label>
                                <div class="controls">
                                <select class="selectpicker" name="scan_type">
                                    <option>Web Scan</option>
                                    <option>Network Scan</option>
                                </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Target :</label>
                                <div class="controls">
                                    <input type="text" name="scan_target" value="" class="span11"
                                           placeholder="target"/>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}