{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in project_dat %}
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <!--<div class="span3 offset6">-->
            <!--{% if messages %}-->

            <!--{% for message in messages %}-->
            <!--<div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"-->
                                                            <!--href="#">×</a>-->
                <!--<p class="alert-heading">{{ message }}</p>-->
            <!--</div>-->
            <!--{% endfor %}-->

            <!--{% endif %}-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span5 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Edit Project</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" action="/projects/project_edit/">{% csrf_token %}
                            <input type="hidden" name="project_id" value="{{ data.project_id }}"/>
                            <div class="control-group">
                                <label class="control-label">Project Name :</label>
                                <div class="controls">
                                    <input type="text" name="projectname"
                                           value="{{ data.project_name }}" class="span11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Start Date :</label>
                                <div class="controls">
                                    <input type="date" name="projectstart"
                                           value="{{ data.project_start }}" class="span11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project End date :</label>
                                <div class="controls">
                                    <input type="date" name="projectend"
                                           value="{{ data.project_end }}" class="span11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Owner :</label>
                                <div class="controls">
                                    <input type="text" name="projectowner"
                                           value="{{ data.project_owner }}" class="span11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Summary :</label>
                                <div class="controls">
                                    <textarea name="project_disc"
                                               class="span11"> {{data.project_disc}}</textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}