
{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Create Project</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST" action="/projects/create/">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Name :</label>
                                            <div class="form-group row">
                                                <input type="text" name="projectname" value="{{ projectname }}"
                                                       class="form-control"
                                                       placeholder="Project Name"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Start Date :</label>
                                            <div class="form-group row">
                                                <input type="date" name="projectstart" value="{{ projectstart }}"
                                                       class="form-control"
                                                       placeholder="Project Start Date"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project End date :</label>
                                            <div class="form-group row">
                                                <input type="date" name="projectend" value="{{ projectend }}"
                                                       class="form-control"
                                                       placeholder="Project End date"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Owner :</label>
                                            <div class="form-group row">
                                                <input type="text" name="projectowner" value="{{ projectowner }}"
                                                       class="form-control"
                                                       placeholder="Project Owner"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Pentester :</label>
                                            <div class="form-group row">
                                                <input type="text" name="pentester" value="{{ pentester }}"
                                                       class="form-control"
                                                       placeholder="Pentester"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Summary :</label>
                                            <div class="form-group row">
                                                <textarea name="project_disc" value="{{ project_disc }}"
                                                          class="form-control"
                                                          placeholder="Project Summary"/></textarea>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </form>
                                    <div class="card">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}