{% extends 'tablehead.html' %}
{% block body %}

<div id="content">{% for data in project_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i
                class="icon-home"></i> Projects</a>
            <a href="#" class="current">{{ data.project_name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="/projects/project_edit/?project_id={{data.project_id}}"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/projects/project_edit/?project_id={{data.project_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <!--<li><a href="/del_scan/?scan_scanid={{data.scan_scanid}}"><i-->
                    <!--class="icon-trash"></i> Delete</a></li>-->
                </ul>
            </div>

            <h1>{{ data.project_name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Details</h5>
                    </div>
                    <div class="widget-content">
                        <div class="span4"><strong>Project Name :</strong> <span class="label label-info">{{data.project_name}} </span>
                        </div>

                        <div class="span4"><strong>Project Start :</strong>{{data.project_start}}</div>
                        <div class="span4"><strong>Project End :</strong>{{data.project_end}} </div>
                        <div class="span4"><strong>Project Status :</strong>{{data.project_status}} </div>
                        <div><strong>Project Owner :</strong>{{data.project_owner}} <br><br></div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Project Description</h5>
                    </div>
                    <div class="widget-content">
                        {{data.project_disc}}
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Project Status</h5>
                    </div>
                    <div>
                        <div class="widget-content">
                            <label class="control-label">
                                <bold>Status :</bold>
                            </label>
                            <form action="/projects/projects_view/?proj_id={{data.project_id}}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="project_id" value="{{ project_id }}">
                                <div class="span2">
                                    <select id="project_status" name="project_status" class="selectpicker"
                                            data-live-search="true">
                                        <option value="Pre-Qualification">Pre-Qualification</option>
                                        <option value="Scanning">Scanning</option>
                                        <option value="Manual Verification">Manual Verification</option>
                                        <option value="Reporting">Reporting</option>
                                        <option value="Review">Review</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                </div>
                                <div class="">
                                    <input onclick="location.href = '/webscanners/scans_list/'"
                                           type="submit" class="btn btn-info" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                        <h5>Web Scan List</h5>
                        <div class="buttons"><a data-toggle="modal"
                                                href="/webscanners/"
                                                class="btn btn-primary btn-mini"><i
                                class="icon-plus icon-white"></i> Add Web Scan</a>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>URL</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th>High</th>
                                <th>Medium</th>
                                <th>Low</th>

                            </tr>
                            </thead>
                            <tbody>{% for data in scan_dat %}
                            <tr data-target="#">
                                <td>{{data.scan_url}}{{data.url}}</td>
                                <td width="30%">
                                    <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                        <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">{{data.scan_status}}{{data.vul_status}} %</div>
                                    </div>
                                </td>
                                <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                                <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                                <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                                <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                        <h5>Static Scan List</h5>
                        <!--<div class="buttons"><a data-toggle="modal"-->
                                                <!--href="/webscanners/"-->
                                                <!--class="btn btn-primary btn-mini"><i-->
                                <!--class="icon-plus icon-white"></i> Add Static Scan</a>-->
                        <!--</div>-->
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Projects Name</th>
                                <th>Status</th>
                                <th>Total Vulnerability</th>
                                <th>High</th>
                                <th>Medium</th>
                                <th>Low</th>

                            </tr>
                            </thead>
                            <tbody>{% for data in static_scan %}
                            <tr data-target="#">
                                <td>{{data.project_name}}{{data.project_name}}</td>
                                <td width="30%">
                                    <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                        <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">{{data.scan_status}}{{data.vul_status}} %</div>
                                    </div>
                                </td>
                                <td><span class="badge badge-inverse">{{data.total_vuln}}</span></td>
                                <td><span class="badge badge-important">{{data.SEVERITY_HIGH}}</span></td>
                                <td><span class="badge badge-warning">{{data.SEVERITY_MEDIUM}}</span></td>
                                <td><span class="badge badge-info">{{data.SEVERITY_LOW}}</span></td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                        <h5>Network Scan List</h5>
                        <div class="buttons"><a data-toggle="modal"
                                                href="/networkscanners/ip_scan/"
                                                class="btn btn-primary btn-mini"><i
                                class="icon-plus icon-white"></i> Add Network Scan</a>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>IP</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th>High</th>
                                <th>Medium</th>
                                <th>Low</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>{% for data in network_dat %}
                            <tr data-target="#">
                                <td>{{data.scan_ip}}</td>
                                <td>
                                    <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                        <div class="bar" style="width: {{data.scan_status}}%">{{data.scan_status}} %</div>
                                    </div>
                                </td>
                                <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                                <td><span class="badge badge-important">{{data.high_total}}</span></td>
                                <td><span class="badge badge-warning">{{data.medium_total}}</span></td>
                                <td><span class="badge badge-info">{{data.low_total}}</span></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary"
                                           href="/networkscanners/vul_details/?scan_id={{data.scan_id}}"><i
                                                class="icon-tasks icon-white"></i>
                                        </a>
                                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/networkscanners/vul_details/?scan_id={{data.scan_id}}"><i
                                                    class="icon-pencil"></i> View </a></li>
                                            <li><a href="/networkscanners/scan_del/?scan_scanid={{data.scan_id}}"><i
                                                    class="icon-trash"></i> Delete</a></li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
