{% extends 'header.html' %}
{% block body %}

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <!--<div class="span3 offset6">-->
            <!--{% if messages %}-->

            <!--{% for message in messages %}-->
            <!--<div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"-->
                                                            <!--href="#">×</a>-->
                <!--<p class="alert-heading">{{ message }}</p>-->
            <!--</div>-->
            <!--{% endfor %}-->

            <!--{% endif %}-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span5 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Create Project</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" action="/projects/create/">{% csrf_token %}
                            <div class="control-group">
                                <label class="control-label">Project Name :</label>
                                <div class="controls">
                                    <input type="text" name="projectname" value="{{ projectname }}" class="span11"
                                           placeholder="Project Name"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Start Date :</label>
                                <div class="controls">
                                    <input type="date" name="projectstart" value="{{ projectstart }}" class="span11"
                                           placeholder="Project Start Date"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project End date :</label>
                                <div class="controls">
                                    <input type="date" name="projectend" value="{{ projectend }}" class="span11"
                                           placeholder="Project End date"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Owner :</label>
                                <div class="controls">
                                    <input type="text" name="projectowner" value="{{ projectowner }}" class="span11"
                                           placeholder="Project Owner"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Pentester :</label>
                                <div class="controls">
                                    <input type="text" name="pentester" value="{{ pentester }}" class="span11"
                                           placeholder="Pentester"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Summary :</label>
                                <div class="controls">
                                    <textarea type="" name="project_disc" value="{{ project_disc }}" class="span11" placeholder="Project Summary"/></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}