{% load sitetree %}

<!--<div id="user-nav" class="navbar navbar-inverse">-->
<!--{% sitetree_menu from "topnavbar" include "trunk," %}-->
<!--</div>-->

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <!--<li class="dropdown" id="profile-messages"><a title="" href="#" data-toggle="dropdown"-->
        <!--data-target="#profile-messages" class="dropdown-toggle"><i-->
        <!--class="icon icon-user"></i> <span class="text">Welcome User</span><b class="caret"></b></a>-->
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
            <li class="divider"></li>
            <li style="position: right: 100;"><a href="/logout/"><i class="icon-key"></i> Log Out</a></li>
        </ul>
        <!--</li>-->
        <li class=""><a title="" href="/projects/create_form/"><i class="icon-plus icon-white"></i> <span class="text">Add New Project</span></a>
        </li>
        <li class=""><a title="" href="/webscanners/setting/"><i class="icon icon-cog"></i> <span
                class="text">Settings</span></a></li>
        <li class=""><a title="" href="//developers.archerysec.info/"><i class="icon-link"></i> <span class="text">Archery API Doc</span></a>
        </li>
        <li><a title="" href="/logout/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a>
        </li>

    </ul>

</div>
