{% extends 'dashboard/base.html' %}

{% block body %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function() {
        $("button").click(function(){
            var scan_id = ['a7af5b68-b661-45ad-90fd-ffa27526cdce'];
            $.each($("input[name='del_scan_id']:checked"), function(){
                scan_id.push($(this).val());
            });

            var json_scanid = scan_id.join(", ");
            $.ajax({
                type:'POST',
                <!--contentType: 'application/json; charset=utf-8',-->
                url:'/tools/nmap_scan_del/',
                data:{
                   scan_id: json_scanid,
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
            setTimeout(function(){location.reload();},1000);
        });

    });







</script>

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <button type="button" class="btn btn-danger btn-mini" onclick="">Delete Selected</button>
                        </div>
                        <br>
                        <div class="d-md-flex align-items-center">
                            <h5 class="card-title">Nmap Scan List</h5>
                        </div>
                        <br>
                        <div class="row">
                            <div class="table-responsive">
                                <!--<table id="vuln_details" class="table table-striped table-bordered" width="100%">-->
                                <table id="nmap_scans_list" class="table table-bordered data-table">
                                    <thead>
                                    <tr>
                                        <!--<th><p><label><input type="checkbox" id="checkAll"/></label></p></th>-->
                                        <th><label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox">
                                            <span class="checkmark"></span>
                                        </label></th>
                                        <th>URL</th>
                                        <th>Port</th>
                                        <th>state</th>
                                        <th>version</th>
                                        <th>Service</th>
                                        <th>osfamily</th>
                                        <th>osgen</th>
                                        <th>cpe</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for data in all_nmap %}
                                    <tr data-target="#">
                                        <td>
                                            <form>
                                                <label class="customcheckbox">
                                                    <input type="checkbox" class="listCheckbox"
                                                           value="{{data.scan_id}}"
                                                           name="del_scan_id"
                                                           onClick="reload">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </form>
                                        </td>
                                        <td><a href="#">{{ data.ip_address }}</a>
                                        </td>
                                        {% if data.vulners_extrainfo %}
                                        <td>
                                            <a href="/tools/nmap_vulners_port_list/?ip={{data.ip_address}}&port={{data.port}}">
                                                <p style="color: red;">{{data.port}}</p>
                                            </a>
                                        </td>
                                        {% else %}
                                        <td>{{ data.port }}</td>
                                        {% endif %}

                                        <td>{{data.state}}</td>
                                        <td>{{data.version}}</td>
                                        <td>{{data.name}}</td>
                                        <td>{{data.osfamily}}</td>
                                        <td>{{data.osgen}}</td>
                                        <td>{{data.cpe}}</td>
                                        <td>
                                            <form action="/tools/nmap_scan_del/" method="post" class="forms-sample">

                                                {% csrf_token %}
                                                <input type="hidden" name="scan_id" value="{{data.scan_id}}"/>
                                                <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                                            </form>
                                        </td>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}