{% extends 'header.html' %}
{% block body %}


<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span5 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Add Scan</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" action="/scanapi/create/">{% csrf_token %}
                            <input type="hidden" name="new_scan" value="{{new_scan}}">
                            <input type="hidden" name="scan_id" value="{{scan_id}}">
                            <div>
                                <label class="control-label">
                                    <bold>Project :</bold>
                                </label>
                                <div class="controls">
                                    <select id="project_id" name="project_id" class="selectpicker"
                                            data-live-search="true">
                                        {% for data in all_scans_db %}
                                        <option value="{{data.project_id}}">{{data.project_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">API Target :</label>
                                <div class="controls">
                                    <input type="text" name="scan_target" value="" class="span11"
                                           placeholder="Target"/>
                                </div>
                            </div>
                            <label class="control-label">
                                <bold>Auth URL :</bold>
                            </label>
                            <div class="controls">
                                <select name="auth_url" class="selectpicker"
                                        data-live-search="true">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <label class="control-label">
                                <bold>Method :</bold>
                            </label>
                            <div class="controls">
                                <select name="method" class="selectpicker"
                                        data-live-search="true">
                                    <option value="POST">POST</option>
                                    <option value="GET">GET</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Auth Key :</label>
                                <div class="controls">
                                    <input type="text" name="auth_header" value="" class="span11"
                                           placeholder="Auth Header Key"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Extra Auth Key :</label>
                                <div class="controls">
                                    <input type="text" name="extra_auth_value" value="" class="span11"
                                           placeholder="Extra Auth Key"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Extra Request Header :</label>
                                <div class="controls">
                                    <textarea type="text" name="req_header" value="" class="span11"
                                              placeholder="Request Header"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Extra Request Body :</label>
                                <div class="controls">
                                    <textarea type="text" name="req_body" value="" class="span11"
                                              placeholder="Request Body"></textarea>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}