{% extends 'tablehead.html' %}
{% block body %}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">IP Scan List</a></div>
        <h1>API Scans</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        <h5>API Scan List</h5>
                        <div class="buttons"><a data-toggle="modal" href="/scanapi/add_scan/?new_scan=Yes&scan_id=None"
                                                class="btn btn-primary btn-mini"><i
                                class="icon-plus icon-white"></i> Add new Scan</a>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>API Target</th>
                                <th>Status</th>
                                <th>Total Vulnerability</th>
                                <th>High</th>
                                <th>Medium</th>
                                <th>Low</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>{% for data in all_api_scans %}
                            <tr data-target="#">
                                <td><a href="/scanapi/scanapi/?scan_id={{data.scan_id}}" >{{ data.scan_url }}</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div><a href="/scanapi/api_scan_edit/?new_scan=Yes&scan_id={{data.scan_id}}&scan_url={{data.scan_url}}"
                                            class="btn btn-primary"
                                            data-original-title="Edit"><i
                                            class="icon-pencil"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <form action="/scanapi/del_scans/" method="POST" class="form-horizontal">
                                        {% csrf_token %}

                                        <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                                        <button class="btn btn-danger"><i class="icon-remove"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
{% endblock %}