{% extends 'header.html' %}
{% block body %}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> {{ data.name }}</a>
            <a
                    href="#" class="current"></a></div>
        <h1></h1>
    </div>
    <div class="container-fluid">{% for data in all_scan %}
        <form class="form-vertical" action="/scanapi/api_scan_edit/" method="POST">
            {% csrf_token %}
            <div>
                <!--<input name="scan_id" value="{{data.scan_id}}" type="hidden">-->
                <input name="scan_id" value="{{data.scan_id}}" type="hidden">
                <div class="form-group">
                    <label>scan_url:</label>
                    <textarea class="form-control" rows="1" name="scan_url"
                    >{{ data.scan_url }}</textarea>
                </div>
                <div class="form-group">
                    <label>auth header:</label>
                    <textarea class="form-control" rows="1" name="auth_header"
                    >{{ data.auth_token_key }}</textarea>
                </div>
                <div class="form-group">
                    <label>req_header:</label>
                    <textarea class="form-control" rows="1" name="req_header"
                    >{{ data.req_header }}</textarea>
                </div>

                <div class="form-group">
                    <label>req_body:</label>
                    <textarea class="form-control" rows="8" name="req_body"
                              style="min-width: 100%">{{ data.req_body }}</textarea>
                </div>
                <div class="form-group">
                    <label>method:</label>
                    <textarea class="form-control" rows="8" name="method"
                              style="min-width: 100%">{{ data.method }}</textarea>
                </div>
            </div>
            <button class="btn btn-primary">Save changes</button>
        </form>{% endfor %}
    </div>
</div>
{% endblock %}