{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in vuln_data %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/webscanners/web_vuln_list/?scan_id={{data.scan_id}}" title="Go to Home"
                                class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/webscanners/edit_burp_vuln/?vuln_id={{data.vuln_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <!--<li><a href="/del_scan/?scan_scanid={{data.scan_scanid}}"><i-->
                    <!--class="icon-trash"></i> Delete</a></li>-->
                </ul>
            </div>

            <h1>{{ data.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info">{{ data.name }}</span>

                        <strong> </strong><br><br>
                        <strong> False Positive: </strong>
                        <form method="POST" action="/webscanners/burp_vuln_out/">{% csrf_token %}
                            <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                            <input type="hidden" name="false" value="Yes">
                            <input type="hidden" name="vuln_name" value="{{data.name}}">
                            <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                            <button class="btn btn-info btn-mini">YES</button>
                        </form>
                        <br>
                        <strong> Severity: </strong> <span
                            class="badge badge-{{data.severity_color}}"> {{ data.severity }}</span><br><br>
                        <strong> Method : </strong>{{data.method}}<br><br>
                        <strong> Vulnerable URL : </strong><code><a href="{{data.url}}">{{data.host}}</a>
                    </code><br><br>
                        <strong> Parameter : </strong>{{data.location}}<br><br>
                        <strong> Location : </strong>{{data.location}}<br><br>
                        <strong> Reference : </strong>{{data.vulnerabilityClassifications}}<br><br>
                    </div>
                </div>

                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Issue Detail:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.issueDetail}}
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Issue Background:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.issueBackground}}
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Solutions:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <strong> Solutions : </strong>{{data.remediationBackground}}<br><br>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12 ">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Request Header:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.scan_request }} <br></pre>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Header:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.scan_response }}</pre>
                    </div>
                </div>
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}