{% extends 'header.html' %}
{% block body %}

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span6 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Email Setting</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" action="/webscanners/email_setting">{% csrf_token %}
                            <div class="control-group">
                                <label class="control-label">Subject :</label>
                                <div class="controls">
                                    <input type="text" name="email_subject" value="{{ email_subject }}" class="span11"
                                           placeholder="Email Subject"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">From Email :</label>
                                <div class="controls">
                                    <input type="email" name="from_email" value="{{ from_email }}" class="span11"
                                           placeholder="From Email"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">To Email :</label>
                                <div class="controls">
                                    <input type="email" name="to_email" value="{{ to_email }}" class="span11"
                                           placeholder="To Email"/>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}