{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Archery</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/archery-login.css' %}"/>
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="loginbox">
    <form id="loginform" class="form-vertical" action="{% url 'webscanners:auth' %}" method="POST">{% csrf_token %}
        <div class="control-group normal_text"><h3><img src="{% static 'archery.png' %}"
                                                        style="max-width:190px; margin-top: 10px;" alt=""/></h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="username"
                                                                                       id="username" tabindex="1"
                                                                                       class="form-control"
                                                                                       placeholder="Username" value="">
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="password"
                                                                                      id="password" tabindex="2"
                                                                                      class="form-control"
                                                                                      placeholder="Password">
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-left"><a href="{% url 'webscanners:signup' %}"  class="btn btn-lg btn-primary" type="submit">Sign Up</a></span>

            <span class="pull-right"><button class="btn btn-lg btn-primary " type="submit">Sign in</button></span>
        </div>
    </form>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/archery.login.js' %}"></script>
</body>

</html>
