<!DOCTYPE html>
<html lang="en">

<head>
    <title>Archery</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/archery-login.css"/>
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>

<body class="bg-dark" id="page-top">
<div id="loginbox">
    <div class="control-group">
        <div class="controls">
            <div class="main_input_box">
                <div>
                    <p2>Thanks for using portal. <a href="/">Login Again</a></p2>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/archery.login.js"></script>
</body>

</html>
