{% extends 'header.html' %}
{% block body %}
<div id="sidebar">
    <!--<a href="/dashboard/" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>-->
    <ul>
        <!--<li><a href="/dashboard/"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>-->
        <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Scan</span> <span class="label label-important">2</span></a>
      <ul>
        <li ><a href="/webscanners/">Domain</a></li>
        <li ><a href="/networkscanners/ip_scan/">IP</a></li>
      </ul>
    </li>
        <li ><a href="/webscanners/scans_list/"><i class="icon icon-inbox"></i> <span>Web Scans</span></a></li>
        <li><a href="/networkscanners/"><i class="icon icon-th"></i> <span>Network Scans</span></a></li>
    </ul>
</div>
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>ZAP Settings</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" action="/setting_edit/">{% csrf_token %}
                            <div class="control-group">
                                <label class="control-label">Zap API Key :</label>
                                <div class="controls">
                                    <input type="text" name="apikey" value="{{ apikey }}" class="span11"
                                           placeholder="API Key"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Zap Path :</label>
                                <div class="controls">
                                    <input type="text" name="zappath" value="{{ zappath }}" class="span11"
                                           placeholder="Zap Path"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Zap Path :</label>
                                <div class="controls">
                                    <input type="text" name="port" value="{{ port }}" class="span11"
                                           placeholder="PORT"/>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}