<!DOCTYPE html>
<html lang="en">
<head>
    <title>ARCHERY</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/fullcalendar.css"/>
    <link rel="stylesheet" href="/static/css/archery-style.css"/>
    <link rel="stylesheet" href="/static/css/archery-media.css"/>
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/jquery.gritter.css"/>
    <link rel="stylesheet" href="/static/css/slider.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>

<div id="sidebar">
    <ul>
        <li><a href="/dashboard/"><i class="icon-tasks"></i><span>Dashboard</span></a></li>
        <li><a href="/projects/"><i class="icon-tasks"></i><span>Projects</span></a></li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Scan</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li><a href="/webscanners/">Domain</a></li>
                <li><a href="/networkscanners/ip_scan">IP</a></li>
            </ul>
        </li>
        <li><a href="/manual_scan/"><i class="icon-tasks"></i><span>Manual Scans</span></a></li>
        <li class="submenu">
            <a href="#">
                <i class="icon icon-inbox"></i>
                <span>Web Scans</span><span
                    class="label label-important">6</span>
            </a>
            <ul>
                <li><a href="/zapscanner/zap_scan_list/">Zap Scan</a></li>
                <li><a href="/burpscanner/burp_scan_list">Burp Scan</a></li>
                <li><a href="/arachniscanner/arachni_scan_list">Arachni</a></li>
                <li><a href="/netsparkerscanner/netsparker_scan_list/">Netsparker</a></li>
                <li><a href="/webinspectscanner/webinspect_scan_list/">Webinspect</a></li>
                <li><a href="/acunetixscanner/acunetix_scan_list/">Acunetix</a></li>

            </ul>
        </li>
        <li class="submenu">
            <a href="#">
                <i class="icon icon-inbox"></i>
                <span>Tools</span><span
                    class="label label-important">4</span>
            </a>
            <ul>
                <li><a href="/tools/sslscan/">SSLScan</a></li>
                <li><a href="/tools/nikto/">Nikto</a></li>
                <!--<li><a href="/tools/nmap_scan/">Nmap</a></li>-->
                <li><a href="/tools/nmap_vulners_scan/">Nmap Vulners</a></li>
                <!--<li><a href="/webscanners/arachni_scan_list">Arachni</a></li>-->
            </ul>
        </li>
        <!--<li><a href="/networkscanners/"><i class="icon icon-th"></i> <span>Network Scans</span></a></li>-->
        <li class="submenu">
            <a href="#">
                <i class="icon icon-inbox"></i>
                <span>Network Scans</span><span
                    class="label label-important">2</span>
            </a>
            <ul>
                <li><a href="/networkscanners/">OpenVAS</a></li>
                <li><a href="/networkscanners/nessus_scan">Nessus</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Static Scans</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li><a href="/banditscanner/banditscans_list"><i class="icon-tasks"></i> <span>Bandit Scan</span></a></li>
                <!--<li><a href="/osintscan/domain_osint/"><i class="icon-tasks"></i> <span>Domain OSINT</span></a></li>-->
                <li><a href=" /dependencycheck/dependencycheck_list"><i class="icon-tasks"></i><span>Dependency Check</span></a></li>

            </ul>
        </li>
        <!--<li><a href="/scanapi/"><i class="icon icon-th"></i> <span>API Scan</span></a></li>-->
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>OSINT Scan</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li><a href="/osintscan/domain_list/"><i class="icon-tasks"></i> <span>Domain List</span></a></li>
                <li><a href="/osintscan/domain_osint/"><i class="icon-tasks"></i> <span>Domain OSINT</span></a></li>

            </ul>
        </li>
    </ul>
</div>
{% block body %}

{% endblock %}

<script src="/static/js/excanvas.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.flot.min.js"></script>
<script src="/static/js/jquery.flot.resize.min.js"></script>
<script src="/static/js/jquery.peity.min.js"></script>
<script src="/static/js/fullcalendar.min.js"></script>
<script src="/static/js/archery.js"></script>
<script src="/static/js/archery.dashboard.js"></script>
<script src="/static/js/jquery.gritter.min.js"></script>
<script src="/static/js/archery.interface.js"></script>
<script src="/static/js/archery.chat.js"></script>
<script src="/static/js/jquery.validate.js"></script>
<script src="/static/js/archery.form_validation.js"></script>
<script src="/static/js/jquery.wizard.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/archery.popover.js"></script>


<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}


</script>