<!DOCTYPE html>
<html lang="en">
<head>
    <title>Archery</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/uniform.css"/>
    <link rel="stylesheet" href="/static/css/select2.css"/>
    <link rel="stylesheet" href="/static/archerysecurity/css/style.css"/>
    <link rel="stylesheet" href="/static/archerysecurity/css/media.css"/>
    <link rel="stylesheet" href="/static/css/jquery.gritter.css" />
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/slider.css"/>


</head>
<body>

<!--Header-part-->
<div id="header">
    <img src="/static/archery_logo.svg" style="max-width:200px; margin-top: 20px;">
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <!--<li class="dropdown" id="profile-messages"><a title="" href="#" data-toggle="dropdown"-->
        <!--data-target="#profile-messages" class="dropdown-toggle"><i-->
        <!--class="icon icon-user"></i> <span class="text">Welcome User</span><b class="caret"></b></a>-->
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
            <li class="divider"></li>
            <li><a href="/logout/"><i class="icon-key"></i> Log Out</a></li>
        </ul>
        <li class=""><a title="" href="/projects/create_form/"><i class="icon-plus icon-white"></i> <span class="text">Add New Project</span></a>
        </li>
        <li class=""><a title="" href="/webscanners/setting/"><i class="icon icon-cog"></i> <span class="text">Settings</span></a>
        </li>
        <li class=""><a title="" href="/logout/"><i class="icon icon-share-alt"></i> <span
                class="text">Logout</span></a>
        </li>
    </ul>
</div>

{% extends 'table_sidebar.html' %}
<!--sidebar-menu-->
{% block body %}

{% endblock %}
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"><a href="http://themedesigner.in"></a></div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/archerysecurity/js/base.js"></script>
<script src="/static/archerysecurity/js/tables.js"></script>
<script src="/static/js/jquery.gritter.min.js"></script>
<script src="/static/js/jquery.peity.min.js"></script>
<script src="/static/archerysecurity/js/popover.js"></script>
<!--<script src="/static/js/archery.interface.js"></script>-->

</body>
</html>
