{% extends 'header.html' %}
{% block body %}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span6 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Scan Upload</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="/webscanners/xml_upload/">{% csrf_token %}
                            <div>
                                <label class="control-label">
                                    <bold>Project :</bold>
                                </label>
                                <div class="controls">
                                    <select id="project_id" name="project_id" class="selectpicker"
                                            data-live-search="true">
                                        {% for data in all_project %}
                                        <option value="{{data.project_id}}">{{data.project_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label class="control-label">
                                    <bold>Scanner :</bold>
                                </label>
                                <div class="controls">
                                    <select id="scanner" name="scanner" class="selectpicker"
                                            data-live-search="true">
                                        <option value="zap_scan">ZAP Scanner</option>
                                        <option value="burp_scan">Burp Scanner</option>
                                        <option value="arachni">Arachni Scanner</option>
                                        <option value="netsparker">Netsparker Scanner</option>
                                        <option value="webinspect">Webinspect Scanner</option>
                                        <option value="acunetix">Acunetix Scanner</option>
                                        <option value="dependencycheck">Dependency Check</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Scan URL/IP:</label>
                                <div class="controls">
                                    <input type="text" name="scan_url" class="span6"
                                           placeholder="Scan URL/IP"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">XML File :</label>
                                <div class="controls">
                                    <input type="file" name="xmlfile">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}