{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in vul_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/webscanners/zap_vul_details/?scan_id={{data.scan_id}}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/webscanners/edit_vuln_dat/?vuln_id={{data.vuln_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <!--<li><a href="/del_scan/?scan_scanid={{data.scan_scanid}}"><i-->
                            <!--class="icon-trash"></i> Delete</a></li>-->
                </ul>
            </div>

            <h1>{{ data.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info">{{ data.name }}</span>

                        <strong> </strong><br><br>
                        <strong> Severity: </strong> {{ data.risk }}<br><br>
                        <strong> Method : </strong>{{data.method}}<br><br>
                        <strong> Vulnerable URL : </strong><code><a href="{{data.url}}">{{data.url}}</a> </code><br><br>
                        <strong> Parameter : </strong>{{data.param}}<br><br>
                        <strong> Sourceid :</strong>{{data.sourceid}}<br><br>
                        <strong> Attack : </strong>{{data.attack}}<br><br>
                        <strong> Reference : </strong>{{data.reference}}<br><br>
                    </div>
                </div>

                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Description:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.description}}
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Solutions:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <strong> Solutions : </strong>{{data.solution}}<br><br>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12 ">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Request Header:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.requestHeader }} <br> {{ data.requestBody }}</pre>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Header:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.responseHeader }}</pre>
                    </div>
                </div>
                <!--</div>-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Body:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.responseBody }}</pre>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Body:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <!--<iframe src="{{data.url}}" height="900" width="1200"></iframe>-->
                        <iframe src="data:text/html;charset=utf-8,{{data.responseBody}}" height="900" width="1200"/></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}