{% extends 'header.html' %}
{% block body %}

<script type="text/javascript" src="/static/js/google_chart.js"></script>

<script>
        {% for data in all_url_vuln %}
      // Load Charts and the corechart and barchart packages.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['High', {{ data.high_vul}}, ],
          ['Medium', {{ data.medium_vul}} ],
          ['Low', {{ data.low_vul}} ],

        ]);

        var piechart_options = {title:'Vulnerability Pie chart for {{ data.scan_url }}',
                       width:700,
                       height:600,
                       colors: ['#bd3f3b', '#ff7800', '#1b7ec7',],
                       is3D:true
                       };

        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {title:'Vulnerability Bar chart for {{ data.scan_url }}',
                       width:700,
                       height:600,
                       legend: 'none',
                       colors: ['#1b7ec7', 'green', '#1b7ec7',],
                       is3D:true
                       };
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data, barchart_options);
      }
      {% endfor %}

$(document).ready(function(){
    var $cat = $('select[name=project_id]'),
        $items = $('select[name=target_url]');

    $cat.change(function(){
        var $this = $(this).find(':selected'),
            rel = $this.attr('rel'),
            $set = $items.find('option.' + rel);

        if ($set.size() < 0) {
            $items.hide();
            return;
        }

        $items.show().find('option').hide();

        $set.show().first().prop('selected', true);
    });
});
</script>


<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">Web Scans Dashboard</a></div>
        <h1>Web Scans Dashboard</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div id='container'> Chart will be rendered here </div>
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                            <h5>Web Scans</h5>
                        </div>
                        <div class="widget-content">
                            <form class="form-horizontal" method="POST" action="/dashboard/">{% csrf_token %}
                                <label class="control-label">
                                    <bold>Select Project :</bold>
                                </label>

                                <div class="controls">
                                    <select id="cat" name="project_id" class="selectpicker"
                                            data-live-search="true">
                                        {% for data in all_data %}
                                        <option value="{{data.project_id}}">{{data.project_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </div>
                            </form>

                            <form class="form-horizontal" method="POST" action="/dashboard/">{% csrf_token %}
                                <label class="control-label">
                                    <bold>Select Target :</bold>
                                </label>
                                <div class="controls">
                                    <select id="items" name="target_url" class="selectpicker"
                                            data-live-search="true">
                                        {% for data in all_scan_url %}
                                        <option value="{{data.scan_url}}{{data.url}}">{{data.scan_url}}{{data.url}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="span4">
                        <div id="piechart_div"></div>
                    </div>
                    <div class="span4 offset2">
                        <div id="barchart_div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}