{% extends 'header.html' %}
{% block body %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script type="text/javascript">

 $(document).on('submit', '#start_scan', function(e){
        var opt = false;
        e.preventDefault();
        if ($('[name="optradio1"]').is(':checked')){
            opt = true;
            $.ajax({
                type:'POST',
                url:'/zapscanner/zap_scan/',
                data:{

                   url:$('#url').val(),
                   project_id:$('#project_id').val(),
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });

       }

       if ($('[name="optradio2"]').is(':checked')){
           opt = true;
           $.ajax({
                    type:'POST',
                    url:'/webscanners/burp_launch_scan/',
                    data:{

                       url:$('#url').val(),
                       project_id:$('#project_id').val(),
                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    sucess:function(){

                    }
           });
       }

       if ($('[name="optradio3"]').is(':checked')){
           opt = true;
           $.ajax({
                    type:'POST',
                    url:'/tools/sslscan/',
                    data:{

                       scan_url:$('#url').val(),
                       project_id:$('#project_id').val(),
                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    sucess:function(){

                    }
           });
       }
       if ($('[name="optradio4"]').is(':checked')){
           opt = true;
           $.ajax({
                    type:'POST',
                    url:'/tools/nikto/',
                    data:{

                       scan_url:$('#url').val(),
                       project_id:$('#project_id').val(),
                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    sucess:function(){

                    }
           });
       }
       if ($('[name="optradio5"]').is(':checked')){
           opt = true;
           $.ajax({
                    type:'POST',
                    url:'/arachniscanner/arachni_scan_launch/',
                    data:{

                       scan_url:$('#url').val(),
                       project_id:$('#project_id').val(),
                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    sucess:function(){

                    }
           });
       }

	if (opt) {
		$('#status').text('Scan launched.').css	({'color': '#5bb75b', 'margin-left': '200px'});
	} else {
		$('#status').text("The scan can't launched: no scanner selected.").css({'color': '#b94a48', 'margin-left': '200px'});
	}
    });









</script>

<script>
function myFunction() {
    document.getElementById("start_scan").reset();
}

$(document).on('submit', '#open_login', function(e){
        e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/webscanners/sel_login/',
                data:{
                   url_login:$('input[name=url_login]').val(),
                   action:$('input[name=action]').val(),
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
        this.reset();
    });

$(document).on('submit', '#save_cookies', function(e){
        e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/webscanners/sel_login/',
                data:{
                   url_login:$('input[name=url_login]').val(),
                   action:$('input[name=action2]').val(),
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
        this.reset();
    });

$(document).on('submit', '#exclude_url', function(e){
        e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/webscanners/exclude_url/',
                data:{
                   exclude_url:$('input[name=exclude_url]').val(),
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
        this.reset();
    });









</script>

<script type="text/javascript">
 function autoRefresh_div()
 {
      $("#result").load("/webscanners/scans_table");// a function which will load data from other file after x seconds
  }
 setInterval('autoRefresh_div()', {{ settings.REFRESH_TIMER }}000);









</script>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="row-fluid">
        <div class="span3 offset1">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <h2 class="alert-heading">{{ message }}</h2>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Scan Launch</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form id="start_scan" class="form-horizontal">{% csrf_token %}

                            <label class="control-label">
                                <bold> URL's</bold>
                            </label>
                            <div class="controls">
                                <textarea class="span4" type="text" name="url" id="url"
                                          value="{{ url }}"
                                          placeholder="http://website.com,http://website2.com,http://website3.com"></textarea>
                            </div>

                            <div>
                                <label class="control-label">
                                    <bold>Project</bold>
                                </label>
                                <div class="controls">
                                    <select id="project_id" name="project_id" class="selectpicker"
                                            data-live-search="true">
                                        {% for data in all_scans_db %}
                                        <option value="{{data.project_id}}">{{data.project_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="controls">
                                <input type="submit"
                                       class="btn btn-primary" value="Launch">
                                <a href="/webscanners/web_scan_schedule" class="btn btn-success">Scan Schedule</a>
                            </div>
			    <div id='status'></div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                    <h5>Scanners</h5>
                </div>
                <div class="widget-content">
		    <p>Select your scanner(s) from the ones available:</p>
                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                        <label>
                            <input name="optradio1" type="checkbox"><span>Zap Scanner</span>
                        </label>
                    </div>
                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                        <label>
                            <input name="optradio2" type="checkbox"><span>Burp Scanner</span>
                        </label>
                    </div>
                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                        <label>
                            <input name="optradio3" type="checkbox"><span>SSLScan</span>
                        </label>
                    </div>
                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                        <label>
                            <input name="optradio4" type="checkbox"><span>Nikto</span>
                        </label>
                    </div>
                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                        <label>
                            <input name="optradio5" type="checkbox"><span>Arachni</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                    <h5>Cookie Store</h5>
                    <div class="buttons"><a data-toggle="modal" href="/webscanners/cookie_add/" target="_blank"
                                            class="btn btn-primary btn-mini"><i
                            class="icon-plus icon-white"></i> Add Cookies</a>
                    </div>
                    <div class="buttons"><a data-toggle="modal" href="/webscanners/cookies_list/" target="_blank"
                                            class="btn btn-primary btn-mini">Cookies List</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <!--<div class="center">-->
                        <form id="open_login" class="form-horizontal">
                            {% csrf_token %}
                            <div class="control-group">
                                <label class="control-label">URL</label>
                                <div class="controls">
                                    <input type="text" name="url_login"
                                           value="{{ url_login }}">
                                    <input type="hidden" name="action"
                                           value="open_page">
                                    <input type="submit" class="btn btn-primary"
                                           value="Login">
                                </div>
                            </div>
                        </form>
                        <form id="save_cookies" class="form-horizontal">
                            {% csrf_token %}
                            <div class="controls">
                                <input class="span4" type="hidden" name="url_login"
                                       value="{{ url_login }}">
                                <input type="hidden" name="action2"
                                       value="save_cookie">
                                <input type="submit" class="btn btn-success"
                                       value="Save">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                    <h5>Exclude URL's</h5>
                    <div class="buttons"><a data-toggle="modal" href="/webscanners/excluded_url_list" target="_blank"
                                            class="btn btn-primary btn-mini">Excluded URL List</a>
                    </div>
                </div>
                <div class="widget-content nopadding">
                    <form id="exclude_url" class="form-horizontal">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label">Exclude URL</label>
                            <div class="controls">
                                <input type="text" name="exclude_url"
                                       value="{{ exclude_url }}">
                                <input type="submit" class="btn btn-primary"
                                       value="Exclude">
                            </div>
                            <p>Note: Exclude logout url for authenticated dynamic web scanning.</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Excluded URL's</h5>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered data-table">
                        <thead>
                        <tr>
                            <th>URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-target="#">{% for data in all_excluded_url %}
                            <td>{{data.exclude_url}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
