{% extends 'dashboard/base.html' %}

{% block body %}

{#<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>#}
<script type="text/javascript">

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function() {
        $('.btn-danger').click(function(){
            if (confirm('Are you sure you want to delete this?')) {
                var vuln_id = ['a7af5b68-b661-45ad-90fd-ffa27526cdce'];
                $.each($("input[name='del_vuln_id']:checked"), function(){
                    vuln_id.push($(this).val());
                });

                var json_scanid = vuln_id.join(", ");
                $.ajax({
                    type:'POST',
                    <!--contentType: 'application/json; charset=utf-8',-->
                    url:'{% url 'networkscanners:vuln_delete' %}',
                    data:{
                       vuln_id: json_scanid,
                       scan_id: $('input[name=scan_id]').val(),
                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    sucess:function(){
                    }
                });
                setTimeout(function(){location.reload();},1000);
            }
        });

    });



$(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to delete this?');
})

</script>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                   {% if user.is_superuser == True or user.role.id == 2 %}
                        <div class="float-right">
                            <button type="button" class="btn btn-danger btn-mini" onclick="">Delete Selected</button>
                        </div>
                    {% endif %}
                        <br>
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Vulnerability List</h1>
                        </div>
                        <br>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="nessus_scans_list" class="table table-bordered data-table">
                                    <thead>
                                    <tr>
                                        <th><label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox">
                                            <span class="checkmark"></span>
                                        </label></th>
                                        <th>Name</th>
                                        <th>Severity</th>
                                        <th>Port</th>
                                        <th>JIRA Ticket</th>
                                        <th>Status</th>
                                       {% if user.is_superuser == True or user.role.id == 2 %}
                                        <th>False Positive</th>
                                        <th>Delete</th>
                                        <th>Mark</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>{% for data in vuln_data %}
                                    <tr data-target="#">
                                        <td>
                                            <form>
                                                <label class="customcheckbox">
                                                    <input type="checkbox" class="listCheckbox"
                                                           value="{{data.vuln_id}}"
                                                           name="del_vuln_id"
                                                           onClick="reload">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="{% url 'networkscanners:scan_details' %}?scan_id={{data.scan_id}}&vuln_id={{data.vuln_id}}&ip={{ data.ip }}&scanner={{ data.scanner }}">{{data.title}}</a>
                                        </td>

                                        <td><span class="badge badge-pill badge-{{data.severity_color}}">{{data.severity}}</span></td>
                                        <td>{{ data.port }}</td>
                                        <td><a href="{{jira_url}}browse/{{data.jira_ticket}}" target="_blank">{{data.jira_ticket}}</a>
                                        {% if data.vuln_status == 'Open' %}
                                        <td><span class="badge badge-pill badge-purple">{{data.vuln_status}}</span></td>
                                        {% endif %}
                                        {% if data.vuln_status == 'Duplicate' %}
                                        <td><span class="badge badge-pill badge-warning">{{data.vuln_status}}</span></td>
                                        {% endif %}
                                        {% if data.vuln_status == 'Closed' %}
                                        <td><span class="badge badge-pill badge-warning">{{data.vuln_status}}</span></td>
                                        {% endif %}
                                       {% if user.is_superuser == True or user.role.id == 2 %}
                                        {% if data.false_positive == 'No' %}
                                        <td>
                                            <form method="POST" action="{% url 'networkscanners:vuln_mark' %}">{% csrf_token %}
                                                <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                                                <input type="hidden" name="false" value="Yes">
                                                <input type="hidden" name="scanner" value={{data.scanner}}>
                                                <input type="hidden" name="status" value="Closed">
                                                <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                                                <input type="hidden" name="ip" value="{{data.ip}}">
                                                <button class="btn btn-outline-info btn-mini">Yes</button>
                                            </form>
                                        </td>
                                        {% endif %}
                                    {% if data.false_positive == 'Yes' %}
                                        <td>
                                            <form method="POST" action="{% url 'networkscanners:vuln_mark' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                                                <input type="hidden" name="false" value="No">
                                                <input type="hidden" name="status" value="Open">
                                                <input type="hidden" name="scanner" value={{data.scanner}}>
                                                <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                                                <input type="hidden" name="ip" value="{{data.ip}}">
                                                <button class="btn btn-info btn-mini">No</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                    {% if data.false_positive == 'Duplicate' %}
                                        <td>
                                            NA
                                        </td>
                                    {% endif %}
                                        <td class="confirm-delete">
                                            <div>
                                                <form action="{% url 'networkscanners:vuln_delete' %}" method="POST"
                                                      class="form-horizontal">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                                                    <input type="hidden" name="scan_id" value="{{data.scan_id}}">
{#                                                    <input type="hidden" name="target" value="{{data.target}}">#}
                                                    <input type="hidden" name="scanner" value={{data.scanner}}>
                                                    <input type="hidden" name="ip" value="{{data.ip}}">
                                                    <button class="btn btn-warning btn-mini"><i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    {% if data.vuln_status == 'Open' %}
                                        <td>
                                            <form method="POST" action="{% url 'networkscanners:vuln_mark' %}">{% csrf_token %}
                                                <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                                                <input type="hidden" name="false" value="No">
                                                <input type="hidden" name="status" value="Closed">
                                                <input type="hidden" name="scanner" value={{data.scanner}}>
                                                <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                                                <input type="hidden" name="ip" value="{{data.ip}}">
                                                <button class="btn btn-outline-info btn-mini">Close</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                    {% if data.vuln_status == 'Duplicate' %}
                                        <td>
                                            NA
                                        </td>
                                    {% endif %}
                                    {% if data.vuln_status == 'Closed' %}
                                        <td>
                                            <form method="POST" action="{% url 'networkscanners:vuln_mark' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                                                <input type="hidden" name="false" value="No">
                                                <input type="hidden" name="status" value="Open">
                                                <input type="hidden" name="scanner" value={{data.scanner}}>
                                                <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                                                <input type="hidden" name="ip" value="{{data.ip}}">
                                                <button class="btn btn-info btn-mini">Open</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}