
    <div class="widget-content">
        <div class="center">
            <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Scan Status</h5>

            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>URL/IP</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-target="#">{% for data in all_scans %}
                        <td><a href="/" data-toggle="modal"
                               data-target="#{{data.scan_id}}">{{data.scan_ip}}</a>
                        </td>
                        <td>
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}%">{{data.scan_status}} %</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
