{% extends 'header.html' %}
{% block body %}
<div id="sidebar">
    <!--<a href="/dashboard/" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>-->
    <ul>
        <!--<li><a href="/dashboard/"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>-->
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Scan</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li><a href="/webscanners/">Domain</a></li>
                <li class="active"><a href="/networkscanners/ip_scan/">IP</a></li>
            </ul>
        </li>
        <li><a href="/webscanners/scans_list/"><i class="icon icon-inbox"></i> <span>Web Scans</span></a></li>
        <li><a href="/networkscanners/"><i class="icon icon-th"></i> <span>Network Scans</span></a></li>
    </ul>
</div>
<script type="text/javascript">

 $(document).on('submit', '#start_scan', function(e){
        e.preventDefault();
        if ($('[name="optradio2"]').is(':checked')){
            $.ajax({
                type:'POST',
                url:'/webscanners/',
                data:{

                   url:$('#url').val(),
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
       }
       else if ($('[name="optradio1"]').is(':checked')){
           $.ajax({
                    type:'POST',
                    url:'/networkscanners/launch_scan/',
                    data:{

                       url:$('#url').val(),

                       csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    sucess:function(){

                    }
           });
       }
       else{
       alert("Please Select scanner")
       }
    });

</script>

<script type="text/javascript">
 function autoRefresh_div()
 {
      $("#result").load("/networkscanners/ip_table/");// a function which will load data from other file after x seconds
  }
 setInterval('autoRefresh_div()', 5000);
</script>

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Scan Launch</h5>
                    </div>
                    <div class="widget-content">
                        <div class="center">
                            <form id="start_scan" class="form-horizontal">
                                {% csrf_token %}
                                <div class="control-group">
                                    <label class="control-label">IP :</label>
                                    <div class="controls">
                                        <input type="text" name="url" id="url" class="form-control"
                                               value="{{ url }}">
                                        <button type="submit" class="btn btn-primary"
                                                onClick="window.location.reload()">Lanuch
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="container">
                            <p>Select Scanner</p>
                            <p>The following scanners are available :</p>
                            <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                                <label>
                                    <input name="optradio1" type="checkbox"><span>OpenVas</span>
                                </label>
                            </div>
                            <!--<div class="checkbox inline checkbox-slider&#45;&#45;b-flat checkbox-slider&#45;&#45;b">-->
                                <!--<label>-->
                                    <!--<input name="optradio2" type="checkbox"><span>SSL Scan</span>-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox inline checkbox-slider&#45;&#45;b-flat checkbox-slider&#45;&#45;b">-->
                                <!--<label>-->
                                    <!--<input name="optradio3" type="checkbox"><span>Nmap</span>-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox inline checkbox-slider&#45;&#45;b-flat checkbox-slider&#45;&#45;b">-->
                                <!--<label>-->
                                    <!--<input name="optradio3" type="checkbox"><span>Nikto</span>-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox inline checkbox-slider&#45;&#45;b-flat checkbox-slider&#45;&#45;b">-->
                                <!--<label>-->
                                    <!--<input name="optradio3" type="checkbox"><span>Datasploit</span>-->
                                <!--</label>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div id="result" class="widget-box">
                    <div class="widget-content">
                        <div class="center">
                            <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                                <h5>Scan Status</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <table class="table table-bordered data-table">
                                    <thead>
                                    <tr>
                                        <th>IP</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-target="#">{% for data in all_scans %}
                                        <td><a href="/" data-toggle="modal"
                                               data-target="#{{data.scan_id}}">{{data.scan_ip}}</a>
                                        </td>
                                        <td>
                                            <div class="progress progress-info">
                                                <div class="bar" style="width: {{data.scan_status}}%">
                                                    {{data.scan_status}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}