{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in vul_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/networkscanners/vul_details/?scan_id={{data.scan_id}}" title="Go to Home"
                                class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.plugin_name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/networkscanners/edit_vuln/?vuln_id={{data.vul_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <!--<li><a href="/del_scan/?scan_scanid={{data.scan_scanid}}"><i-->
                    <!--class="icon-trash"></i> Delete</a></li>-->
                    <li>
                        <a href="/jira/submit_jira_ticket/?summary={{ data.plugin_name }}&description={{data.description}}%0a%0a%0a Vulnerable Host: {{data.scan_ip}} %0a%0a Vulnerable Port: {{data.port}} %0a%0a Solution: {{data.solution}} %0a%0a Archery URL: {SERVERIP}/networkscanners/nessus_vuln_check/?vuln_id={{data.vul_id}} %0a%0a Request Header: {{ data.request_raw }}&scanner=nessus&vuln_id={{data.vul_id}}&scan_id={{data.scan_id}} "><i
                                class="icon-random"></i> Jira Ticket</a>
                    </li>
                </ul>
            </div>

            <h1>{{ data.plugin_name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name: {{ data.plugin_name }}</h5>
                    </div>
                    <div class="widget-content">

                        <strong> Name: </strong>{{ data.plugin_name }}<br><br>
                        <strong> Severity: </strong> {{ data.risk_factor }}<br><br>
                        <strong> Host : </strong>{{data.scan_ip}} <br><br>
                        <strong> Port : </strong>{{data.port}}<br><br>
                        <strong> Summary : </strong><br>
                        {{data.description}}<br><br>
                        <strong>Solution : </strong><br>{{data.solution}}<br><br>
                        <strong> fname : </strong>{{data.fname}}<br><br>
                        <strong> Plugin Modification Date : </strong>{{data.plugin_modification_date}}<br><br>
                        <strong> Plugin Publication Date : </strong>{{data.plugin_publication_date}}<br><br>
                        <strong> Threat :</strong>{{data.severity}}<br><br>
                        <strong> Plugin Type : </strong><br><br>{{data.plugin_type}}<br><br>
                        <strong>Synopsis : </strong><br><br>{{data.synopsis}}<br><br>
                        <strong>Plugin Output : <br> </strong>{{data.plugin_output|safe}}<br><br>
                        <strong>Protocol : </strong>{{data.protocol}}<br><br>
                        <strong>svc_name : </strong><br><br>{{data.svc_name}}<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}