
{% extends 'tablehead.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$(document).ready(function() {
    $("#btn1").click(function() {

        var scan_id = ['a7af5b68-b661-45ad-90fd-ffa27526cdce'];
        $.each($("input[name='task_id']:checked"), function() {
            scan_id.push($(this).val());
        });

        json_scanid = scan_id.join(",");
        $.ajax({
            type: 'POST',
            <!--contentType: 'application/json; charset=utf-8',-->
            url: '/networkscanners/del_net_scan_schedule',
            data: {
                task_id: json_scanid,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                setTimeout(location.reload(), 6000);
            }
        });


    });

});
</script>

<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" method="POST" action="/networkscanners/net_scan_schedule">
                    {% csrf_token %}
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Network Scan Schedule</h5>
                        </div>
                        <div class="widget-content nopadding">

                            <div class="control-group">
                                <label class="control-label">URL's :</label>
                                <div class="controls">
                                    <textarea class="span4" type="text" name="ip" id="ip"
                                              value="{{ ip }}"
                                              placeholder="192.168.1.1,192.168.1.2"
                                              style="margin: 0px; width: 458px; height: 86px;"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Scan Start Date & Time :</label>
                                <div class="controls input-append date form_datetime"
                                     data-date-format="d/mm/yyyy h:ii:ss P" data-link-field="dtp_input1" style="">
                                    <input name="datetime" type="text" value="">
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Periodic Scan :</label>
                                <div class="controls">
                                    <select name="periodic_task_value" class=""
                                            data-live-search="true" style="margin: 0px; width: 458px; height: 86px;">
                                        <option value="None">None</option>
                                        <option value="HOURLY">Task Hourly</option>
                                        <option value="DAILY">Task Daily</option>
                                        <option value="WEEKLY">Task Weekly</option>
                                        <option value="EVERY_2_WEEKS">Task Every 2 Weeks</option>
                                        <option value="EVERY_4_WEEKS">Task Every 4 Weeks</option>

                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project</label>
                                <div class="controls">
                                    <select id="project_id" name="project_id" class=""
                                            data-live-search="true" style="margin: 0px; width: 458px; height: 86px;">
                                        {% for data in all_scans_db %}
                                        <option value="{{data.project_id}}">{{data.project_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                            <h5>Scanners:</h5>
                        </div>
                        <div class="widget-content">
                            <p>Select Scanner</p>
                            <p>The following scanners are available :</p>
                            <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                                <label>
                                    <input name="scanner" value="open_vas" type="checkbox"><span>OpenVAS</span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        <h5>Scan Scheduled List</h5>

                        <div class="buttons">
                            <button type="button" class="btn btn-danger btn-mini" id="btn1"
                                    >
                                Delete Selected
                            </button>
                        </div>

                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th><p><label><input type="checkbox"/></label></p></th>
                                <th>Target</th>
                                <th>Schedule Time</th>
                                <th>Project</th>
                                <th>Scanner</th>
                                <th>Periodic Task</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>{% for data in all_scheduled_scans %}
                            <tr data-target="#">
                                <td>
                                    <form>
                                        <label><input type="checkbox" value="{{data.task_id}}" name="task_id"
                                                      >

                                        </label>
                                        <!--<br>-->
                                        <!--<button type="button" >Get Values</button>-->
                                    </form>
                                </td>
                                <td>
                                    <a href="#">{{data.target}}</a>
                                </td>
                                <td>
                                    {{data.schedule_time}}
                                </td>
                                <td>{{data.project_id}}</td>
                                <td>
                                    {{data.scanner}}
                                </td>
                                <td>{{data.periodic_task}}</td>
                                <td>
                                    <form action="/networkscanners/del_net_scan_schedule" method="post"
                                          class="forms-sample">

                                        {% csrf_token %}
                                        <input type="hidden" name="task_id" value="{{data.task_id}}"/>
                                        <button class="btn btn-danger"><i class="icon-remove"></i></button>
                                    </form>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js" charset="UTF-8"></script>-->

<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<!--<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>-->
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });






</script>

{% endblock %}