{% extends 'header.html' %}
{% block body %}
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span6 offset3">
                <div class="widget-box">
                    <form class="form-horizontal" id="nv" method="POST" action="/networkscanners/nv_details/">{% csrf_token %}
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i></span>
                            <h5>NMAP Vulners Settings</h5>
                            <span class="checkbox inline checkbox-slider--b-flat checkbox-slider--b" style="float: right;">
                                <label>
                                    <input name="nv_enabled" id="nv_enabled" {% if nv_enabled == "True" %} value="{{nv_enabled}}" checked="checked" {% endif %} type="checkbox"><span></span>
                                </label>
                            </span>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="control-group">
                                <label class="control-label">Version detection</label>
                                <div class="controls">
                                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                                        <label>
                                            <input name="nv_version" id="nv_version" {% if nv_version == "True" %} value="{{nv_version}}" checked="checked" {% endif %} type="checkbox"><span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Treat all hosts as online<br/><small><em>Skip host discovery</em></small></label>
                                <div class="controls">
                                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                                        <label>
                                            <input name="nv_online" id="nv_online" {% if nv_online == "True" %} value="{{nv_online}}" checked="checked" {% endif %} type="checkbox"><span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Set timing template (higher is faster)<br/><small><em>Value between 0 and 5</em></small></label>
                                <div class="controls">
                                    <select id="nv_timing" name="nv_timing" class="selectpicker" data-live-search="true">
                                        <option value="0"{% if nv_timing == 0 %} selected="selected"{% endif %}>0</option>
                                        <option value="1"{% if nv_timing == 1 %} selected="selected"{% endif %}>1</option>
                                        <option value="2"{% if nv_timing == 2 %} selected="selected"{% endif %}>2</option>
                                        <option value="3"{% if nv_timing == 3 %} selected="selected"{% endif %}>3</option>
                                        <option value="4"{% if nv_timing == 4 %} selected="selected"{% endif %}>4</option>
                                        <option value="5"{% if nv_timing == 5 %} selected="selected"{% endif %}>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}