
{% extends 'dashboard/base.html' %}

{% block body %}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">OpenVAS Setting</h1>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <form id="nv" method="POST" action="/networkscanners/nv_details/">{% csrf_token %}
                        <div class="form-group row">
                            <span class="icon"> <i class="icon-align-justify"></i></span>
                            <label class="col-sm-4 col-form-label">NMAP Vulners Settings Enable</label>
                            <span class="checkbox inline checkbox-slider--b-flat checkbox-slider--b" style="float: right;">
                                <label>
                                    <input name="nv_enabled" id="nv_enabled" {% if nv_enabled == "True" %} value="on" checked="checked" {% endif %} type="checkbox"><span></span>
                                </label>
                            </span>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Version detection</label>
                                <div class="controls">
                                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                                        <label>
                                            <input name="nv_version" id="nv_version" {% if nv_version == "True" %} value="on" checked="checked" {% endif %} type="checkbox"><span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Treat all hosts as online<br/><small><em>Skip host discovery</em></small></label>
                                <div class="controls">
                                    <div class="checkbox inline checkbox-slider--b-flat checkbox-slider--b">
                                        <label>
                                            <input name="nv_online" id="nv_online" {% if nv_online == "True" %} value="on" checked="checked" {% endif %} type="checkbox"><span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Set timing template (higher is faster)<br/><small><em>Value between 0 and 5</em></small></label>
                                <div class="controls">
                                    <select id="nv_timing" name="nv_timing" class="select2 form-control custom-select" data-live-search="true">
                                        <option value="0"{% if nv_timing == 0 %} selected="selected"{% endif %}>0</option>
                                        <option value="1"{% if nv_timing == 1 %} selected="selected"{% endif %}>1</option>
                                        <option value="2"{% if nv_timing == 2 %} selected="selected"{% endif %}>2</option>
                                        <option value="3"{% if nv_timing == 3 %} selected="selected"{% endif %}>3</option>
                                        <option value="4"{% if nv_timing == 4 %} selected="selected"{% endif %}>4</option>
                                        <option value="5"{% if nv_timing == 5 %} selected="selected"{% endif %}>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}