
{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in edit_vul_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> {{ data.name }}</a>
            <a
                    href="#" class="current">{{ data.name }}</a></div>
        <h1>{{ data.name }}</h1>
    </div>
    <div class="container-fluid">
            <form class="form-vertical" action="/networkscanners/edit_vuln/" method="POST">
                {% csrf_token %}
                <div>
                    <input name="vuln_id" value="{{data.vul_id}}" type="hidden">
                    <input name="scan_id" value="{{data.scan_id}}" type="hidden">
                    <div class="form-group">
                        <label>Name:</label>
                        <textarea class="form-control" rows="1" name="name"
                        >{{ data.name }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Severity:</label>
                        <textarea class="form-control" rows="1" name="severity"
                        >{{ data.severity }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Host:</label>
                        <textarea class="form-control" rows="1" style="min-width: 70%"
                                  name="host"
                        >{{ data.host }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Port:</label>
                        <textarea class="form-control" rows="8" name="port"
                                  style="min-width: 100%">{{ data.port }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Summary:</label>
                        <textarea class="form-control" rows="8" name="description"
                                  style="min-width: 100%">{{ data.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Tags:</label>
                        <textarea class="form-control" name="tags" rows="1"
                        >{{ data.tags }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Creation Time :</label>
                        <textarea class="form-control" rows="1" name="creation_time"
                        >{{ data.creation_time }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Modification Time:</label>
                        <textarea class="form-control" rows="1" name="modification_time"
                        >{{ data.modification_time }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Threat:</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="threat"
                        >{{ data.threat }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Type:</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="banner"
                        >{{ data.banner }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Family:</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="family"
                        >{{ data.family }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Base Score :</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="cvss_base"
                        >{{ data.cvss_base }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>CVE :</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="cve"
                        >{{ data.cve }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>xref :</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="xref"
                        >{{ data.xref }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>bid :</label>
                        <textarea class="form-control" rows="5" style="min-width: 70%"
                                  name="bid"
                        >{{ data.bid }}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close
                    </button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}