{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in vul_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/networkscanners/vul_details/?scan_id={{data.scan_id}}" title="Go to Home"
                                class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/networkscanners/edit_vuln/?vuln_id={{data.vul_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <!--<li><a href="/del_scan/?scan_scanid={{data.scan_scanid}}"><i-->
                    <!--class="icon-trash"></i> Delete</a></li>-->
                    <li>
                        <a href="/jira/submit_jira_ticket/?summary={{data.name}}&description={{data.description}}%0a%0a%0a Vulnerable Host: {{data.host}} %0a%0a Vulnerable Port: {{data.port}} %0a%0a CVE: {{data.cve}} %0a%0a Archery URL: {SERVERIP}/networkscanners/vuln_check/?vuln_id={{data.vul_id}} &scanner=open_vas&vuln_id={{data.vul_id}}&scan_id={{data.scan_id}} "><i
                                class="icon-random"></i> Jira Ticket</a>
                    </li>
                </ul>
            </div>

            <h1>{{ data.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name: </h5>
                    </div>
                    <div class="widget-content">

                        <strong> </strong>{{ data.name }}<br><br>
                        <strong> Severity: </strong> {{ data.severity }}<br><br>
                        <strong> Host : </strong>{{data.host}} <br><br>
                        <strong> Port : </strong>{{data.port}}<br><br>
                        <strong> Summary : </strong><br>
                        {{data.description}}<br><br>
                        <strong>Tags : </strong><br>{{data.tags}}<br><br>
                        <strong> Creation Time : </strong>{{data.creation_time}}<br><br>
                        <strong> Modification Time : </strong>{{data.modification_time}}<br><br>
                        <strong> Threat :</strong>{{data.threat}}<br><br>
                        <strong> Type : </strong><br><br>{{data.banner}}<br><br>
                        <strong>Family : </strong><br><br>{{data.family}}<br><br>
                        <strong>Base Score : </strong>{{data.cvss_base}}<br><br>
                        <strong>CVE : </strong>{{data.cve}}<br><br>
                        <strong>xref : </strong><br><br>{{data.xref}}<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}