{% extends 'header.html' %}
{% block body %}

<div id="sidebar">
    <!--<a href="/dashboard/" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>-->
    <ul>
        <!--<li><a href="/dashboard/"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>-->
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Scan</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li class="active"><a href="/webscanners/">Domain</a></li>
                <li><a href="/networkscanners/ip_scan">IP</a></li>
            </ul>
        </li>
        <li><a href="/webscanners/scans_list/"><i class="icon icon-inbox"></i> <span>Web Scans</span></a></li>
        <li><a href="/networkscanners/"><i class="icon icon-th"></i> <span>Network Scans</span></a></li>
    </ul>
</div>
<div id="content">{% for data in vul_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/networkscanners/vul_details/?scan_id={{data.scan_id}}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/networkscanners/edit_vuln/?vuln_id={{data.vul_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <!--<li><a href="/del_scan/?scan_scanid={{data.scan_scanid}}"><i-->
                            <!--class="icon-trash"></i> Delete</a></li>-->
                </ul>
            </div>

            <h1>{{ data.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name: </h5>
                    </div>
                    <div class="widget-content">

                        <strong> </strong>{{ data.name }}<br><br>
                                            <strong> Severity: </strong> {{ data.severity }}<br><br>
                                            <strong> Host : </strong>{{data.host}} <br><br>
                                            <strong> Port : </strong>{{data.port}}<br><br>
                                            <strong> Summary : </strong><br>
                                            {{data.description}}<br><br>
                                            <strong>Tags : </strong><br>{{data.tags}}<br><br>
                                            <strong> Creation Time : </strong>{{data.creation_time}}<br><br>
                                            <strong> Modification Time : </strong>{{data.modification_time}}<br><br>
                                            <strong> Threat :</strong>{{data.threat}}<br><br>
                                            <strong> Type : </strong><br><br>{{data.banner}}<br><br>
                                            <strong>Family : </strong><br><br>{{data.family}}<br><br>
                                            <strong>Base Score : </strong>{{data.cvss_base}}<br><br>
                                            <strong>CVE : </strong>{{data.cve}}<br><br>
                                            <strong>xref : </strong><br><br>{{data.xref}}<br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </div>
</div>

{% endfor %}

{% endblock %}