{% extends 'tablehead.html' %}
{% block body %}


<div id="sidebar">
    <!--<a href="/dashboard/" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>-->
    <ul>
        <!--<li><a href="/dashboard/"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>-->
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Scan</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li><a href="/webscanners/">Domain</a></li>
                <li><a href="/networkscanners/ip_scan/">IP</a></li>
            </ul>
        </li>
        <li><a href="/webscanners/scans_list/"><i class="icon icon-inbox"></i> <span>Web Scans</span></a></li>
        <li><a href="/networkscanners/"><i class="icon icon-th"></i> <span>Network Scans</span></a></li>
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">Tables</a></div>
        <h1>Vulnerabilities</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span9 offset1">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        <h5>Network Vulnerabilities</h5>
                        <div class="buttons"><a data-toggle="modal" href="/networkscanners/add_vuln/?scan_id={{ scan_id }}"
                                                class="btn btn-primary btn-mini"><i
                                class="icon-plus icon-white"></i> Add new Vulnerability</a>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Vulnerability</th>
                                <th>Criticality</th>
                                <th>Severity</th>
                                <th>Host</th>
                                <th>Location</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>

                            </tfoot>
                            <tbody>{% for data in all_vuln %}
                            <tr data-target="#">
                                <td>{{data.vul_id}}</td>
                                <td width="40%"><a href="/networkscanners/vuln_check/?vuln_id={{data.vul_id}}">{{data.name}}</a>
                                </td>
                                <td>{{data.threat}}</td>
                                <td>{{data.severity}}</td>
                                <td>{{data.host}}</td>
                                <td>{{data.port}}</td>
                                <td>
                                    <div><a href="/networkscanners/edit_vuln/?vuln_id={{data.vul_id}}"
                                            class="btn btn-primary"
                                            data-original-title="Edit"><i
                                            class="icon-pencil"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <form action="/networkscanners/del_vuln/" method="POST" class="form-horizontal">
                                            {% csrf_token %}
                                            <input type="hidden" name="del_vuln" value="{{data.vul_id}}">
                                            <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                                            <button class="btn btn-danger"><i class="icon-remove"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}