{% extends 'dashboard/base.html' %}

{% block body %}
    {% for data in checkmarx_vuln_details %}
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-auto">
                            <div class="float-right">
                                <!-- Large modal -->
                                <a href="/jira/submit_jira_ticket/?summary={{ data.name }}&description=Description:%0a%0a {{ data.description | safe }} File Name: {{ data.filename | safe }} %0a%0a Title: {{ data.name }} %0a%0a References: {{ data.url | safe }} %0a%0a  Archery URL: {SERVERIP}/webscanners/vuln_dat/?vuln_id={{ data.vuln_id }} &scanner=checkmarx&vuln_id={{ data.vuln_id }}&scan_id={{ data.scan_id }} "
                                   class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Create Jira
                                    Ticket</a>

                            </div>
                        </div>
                        <h1>{{ data.name }}</h1>
                        <br>
                        <div class="card">
                            <div class="accordion" id="accordionExample">
                                <div class="card m-b-0">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                               aria-controls="collapseOne">
                                                <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                                <span>Scan Details</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tbody id="details"></tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                                <div class="card m-b-0">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                               aria-controls="collapseThree">
                                                <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                                <span>Scan Info</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tbody id="query"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-b-0">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                               aria-controls="collapseFour">
                                                <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                                <span>Findings</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tbody id="findings"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card m-b-0">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                               aria-controls="collapseFive">
                                                <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                                <span>Vulnerable Code</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                                         data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <tbody id="result"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript">
            var json = {{ data.scan_details | safe}}
                $.each(json, function (key, data) {
                    var tbody = document.getElementById('details');
                    var tr = "<tr>";
                    tr += "<td>" + key + "</td>" + "<td>" + data.toString() + "</td></tr>";
                    tbody.innerHTML += tr;
                });

            var json = {{ data.query | safe}}
                $.each(json, function (key, data) {
                    var tbody = document.getElementById('query');
                    var tr = "<tr>";
                    tr += "<td>" + key + "</td>" + "<td>" + data.toString() + "</td></tr>";
                    tbody.innerHTML += tr;
                });

            var json = {{ data.result_data | safe}}
                $.each(json, function (key, data) {
                    $.each(data, function (key2, value) {
                        var tbody = document.getElementById('findings');
                        var tr = "<tr>";
                        tr += "<td>" + key2 + "</td>" + "<td>" + value.toString() + "</td></tr>";
                        tbody.innerHTML += tr;
                    })
                });
            var json = {{ data.result | safe}}
                $.each(json, function (key, data) {
                    $.each(data, function (key2, value) {
                        var tbody = document.getElementById('result');
                        var tr = "<tr>";
                        tr += "<td>" + key2 + "</td>" + "<td>" + value.toString() + "</td></tr>";
                        tbody.innerHTML += tr;
                    })
                });
        </script>
    {% endfor %}
{% endblock %}