<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white">{{all_high}}</h1>
                <a href="/all_high_vuln/?project_id={{project_id}}&severity=High"><h6 class="text-white"> High</h6></a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white">{{all_medium}}</i></h1>
                <a href="/all_high_vuln/?project_id={{project_id}}&severity=Medium"><h6 class="text-white">Medium</h6></a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white">{{all_low}}</h1>
                <a href="/all_high_vuln/?project_id={{project_id}}&severity=Low"><h6 class="text-white">Low</h6></a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{tota_vuln}}</h1>
                <a href="/all_high_vuln/?project_id={{project_id}}&severity=Total"><h6 class="text-white">Total</h6></a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white">{{all_closed_vuln}}</h1>
                <a href="/all_high_vuln/?project_id={{project_id}}&severity=Close"> <h6 class="text-white">Closed</h6></a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white">{{all_false_positive}}</h1>
                <a href="/all_high_vuln/?project_id={{project_id}}&severity=False"><h6 class="text-white">False Positive</h6></a>
            </div>
        </div>
    </div>
</div>
