<div class="center">
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lo">
                    <a href="/all_high_vuln/?project_id={{project_id}}&severity=High">
                        <span class="label label-important"></span>
                        <h2>{{all_high}}</h2>
                        High
                    </a>
                </li>
                <li class="bg_ly">
                    <a href="/all_high_vuln/?project_id={{project_id}}&severity=Medium">
                        <h2>{{all_medium}}</h2>
                        Medium
                    </a>
                </li>
                <li class="bg_lb">
                    <a href="/all_high_vuln/?project_id={{project_id}}&severity=Low">
                        <span class="label label-success"></span>
                        <h2>{{all_low}}</h2>
                        Low
                    </a>
                </li>
                <li class="bg_ls">
                    <a href="/all_high_vuln/?project_id={{project_id}}&severity=Total">
                        <span class="label label-important"></span>
                        <h2>{{all_vuln}}</h2>
                        Total
                    </a>
                </li>
                <li class="bg_lg">
                    <a href="/all_high_vuln/?project_id={{project_id}}&severity=Close">
                        <span class="label label-important"></span>
                        <h2>{{all_closed_vuln}}</h2>
                        Closed
                    </a>
                </li>
                <li class="bg_lr">
                    <a href="/all_high_vuln/?project_id={{project_id}}&severity=False">
                        <span class="label label-important"></span>
                        <h2>{{all_false_positive}}</h2>
                        False Positive
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
