{% extends 'dashboard/base.html' %}

{% block header_title %}Dashboard{% endblock header_title %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="row-fluid">

    <div class="span12">

        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i
                    class="icon-th"></i></span>
                <h5>Project List</h5>
                <div class="buttons"><a data-toggle="modal" href="/projects/create_form/"
                                        class="btn btn-primary btn-mini"><i
                        class="icon-plus icon-white"></i> Add new Project</a>
                </div>

            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <!--<th>Project ID</th>-->
                        <th>Project</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>{% for data in all_project %}
                    <tr data-target="#">
                        <!--<td>{{data.project_id}}</td>-->

                        <td>
                            <a href="/proj_data/?project_id={{data.project_id}}">{{data.project_name}}</a>
                        </td>
                        <td><span
                                class="badge badge-inverse">{{data.project_start}}</span>
                        </td>
                        <td><span
                                class="badge badge-inverse">{{data.project_end}}</span>
                        </td>
                        <td><span
                                class="badge badge-important">{{data.project_owner}}</span>
                        </td>
                        <td><span
                                class="badge badge-warning">{{data.project_status}}</span>
                        </td>

                        <td>
                            <form action="/projects/" method="POST">
                                <input type="hidden" name="proj_id" value="{{data.project_id}}"/>{% csrf_token %}
                                <button class="btn btn-danger"><i class="icon-remove"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

{% endblock content %}

{% block extra_body %}

{% endblock extra_body %}