{% extends 'dashboard/base.html' %}

{% block header_title %}Dashboard{% endblock header_title %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
{% include "dashboard/_top_links.html" %}
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
            <h5>Vulnerability Analytics</h5>
        </div>
        <div class="widget-content">
            <form action="/vuln_stat_dash/" method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label">Year:</label>
                    <div class="controls">
                        <input type="text" name="year"
                            >
                        <input type="submit" class="btn btn-primary"
                            value="Submit">
                    </div>
                </div>
            </form>

            <div class="row-fluid">
                <div class="span9">
                    <div id="chart_div" ></div>
                </div>
                <div class="span3">
                    <ul class="site-stats">
                        <li class="bg_lh"><i class="icon-bolt"></i> <strong>{{all_vuln}}</strong>
                            <small>All Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-th"></i> <strong>{{total_network}}</strong>
                            <small>Network Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-globe"></i>
                            <strong>{{total_web}}</strong>
                            <small>Web Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-indent-right"></i>
                            <strong>{{all_high}}</strong>
                            <small>Total High</small>
                        </li>
                        <li class="bg_lh"><i class=" icon-th-large"></i> <strong>{{all_medium}}</strong>
                            <small>Total Medium</small>
                        </li>
                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_low}}</strong>
                            <small>Total Low</small>
                        </li>
                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_false_positive}}</strong>
                            <small>False Positive</small>
                        </li>
                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_closed_vuln}}</strong>
                            <small>Closed Vulnerability</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
            <h5>Web Vulnerability Analytics</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span6">
                    <table class="columns">
                        <tr>
                            <td>
                                <div id="piechart_div" style="border: 1px solid #ccc"></div>
                            </td>
                            <td>
                                <div id="barchart_div" style="border: 1px solid #ccc"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
            <h5>Network Vulnerability Analytics</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span9">
                    <table class="columns">
                        <tr>
                            <td>
                                <div id="net_piechart_div" style="border: 1px solid #ccc"></div>
                            </td>
                            <td>
                                <div id="net_barchart_div" style="border: 1px solid #ccc"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript" src="/static/js/google_chart.js"></script>
<script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);


      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'High', 'Medium', 'Low', ],
         {% for d in high_data %}
            {% for key, item in d.viewitems %}
                ['{{ dash_year }}/{{key}}',
                {% for k, i in item.viewitems %}
                    {% if k == 'h' %}{{i}}{% endif %}
                {% endfor %},
                {% for k, i in item.viewitems %}
                    {% if k == 'm' %}{{i}}{% endif %}
                {% endfor %},
                {% for k, i in item.viewitems %}
                    {% if k == 'l' %}{{i}}{% endif %}
                {% endfor %}
            {% endfor %},],
        {% endfor %}
      ]);

    var options = {
      title : 'Monthly Vulnerability',
      vAxis: {title: 'Vulnerability'},
      hAxis: {title: 'Month'},
      seriesType: 'bars',
      colors: ['#bd3f3b', '#ff7800', '#1b7ec7',],
      series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

   // Load Charts and the corechart and barchart packages.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['High', {{all_web_high}}],
          ['Medium', {{all_web_medium}}],
          ['Low', {{all_web_low}}],

        ]);

        var piechart_options = {title:'Pie Chart: Vulnerability found in Web Applicaiton',
                       width:700,
                       height:400, colors: ['#bd3f3b', '#ff7800', '#1b7ec7',]};
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {title:'Barchart: Vulnerability found in Web Application',
                       width:600,
                       height:400,
                       legend: 'none'};
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data, barchart_options);
      }

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(net_drawChart);

      function net_drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['High', {{all_network_high}}],
          ['Medium', {{all_network_medium}}],
          ['Low', {{all_network_low}}],

        ]);

        var net_piechart_options = {title:'Pie Chart: Vulnerability found in Network',
                       width:700,
                       height:400, colors: ['#bd3f3b', '#ff7800', '#1b7ec7',]
                       };

        var net_piechart = new google.visualization.PieChart(document.getElementById('net_piechart_div'));
        net_piechart.draw(data, net_piechart_options);

        var net_barchart_options = {title:'Barchart: Vulnerability found in Network',
                       width:600,
                       height:400,
                       legend: 'none'};
        var net_barchart = new google.visualization.BarChart(document.getElementById('net_barchart_div'));
        net_barchart.draw(data, net_barchart_options);
      }
</script>
{% endblock extra_body %}
