{% extends 'dashboard/base.html' %}

{% block header_title %}Network Scans Dashboard{% endblock header_title %}
{% block title %}Network Scans Dashboard{% endblock title %}

{% block content %}
{% include "dashboard/_top_links.html" %}
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
            <h5>Network Scan Analytics</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-title"><span class="icon"><i
                                        class="icon-th"></i></span>
                                    <h5>Network Scan List</h5>

                                </div>
                                <div class="widget-content nopadding">
                                    <table class="table table-bordered data-table">
                                        <thead>
                                        <tr>
                                            <!--<th>Project ID</th>-->
                                            <th>URL</th>
                                            <th>Date Time</th>
                                            <th>Total Vulnerability</th>
                                            <th>High</th>
                                            <th>Medium</th>
                                            <th>Low</th>

                                        </tr>
                                        </thead>
                                        <tbody>{% for data in all_network_data %}
                                        <tr data-target="#">
                                            <!--<td>{{data.project_id}}</td>-->
                                            <td>
                                                <a href="/net_dash_data/?scan_id={{data.scan_id}}">{{data.scan_ip}}</a>
                                            </td>
                                            <td>{{data.date_time}}</td>
                                            <td><span
                                                    class="badge badge-inverse">{{data.total_vul}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-important">{{data.high_total}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-warning">{{data.medium_total}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{data.low_total}}</span>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <ul class="site-stats">
                        <li class="bg_lh"><i class="icon-bolt"></i> <strong>{{total_network}}</strong>
                            <small>Total Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-indent-right"></i> <strong>{{all_network_high}}</strong>
                            <small>High Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class=" icon-th-large"></i> <strong>{{all_network_medium}}</strong>
                            <small>Medium Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_network_low}}</strong>
                            <small>Low Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_false_positive}}</strong>
                            <small>False Positive</small>
                        </li>
                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_closed_vuln}}</strong>
                            <small>Closed Vulnerability</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span6">
                    <canvas id="NetBar"></canvas>
                </div>
                <div class="span6">
                    <canvas id="NetChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript" src="/static/js/Chart.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById("NetBar").getContext('2d');
var NetBar = new Chart(ctx, {
    type: 'pie',
    data: {
				datasets: [{
					data: [
						{{all_network_high}},
						{{all_network_medium}},
						{{all_network_low}},

					],
					backgroundColor: [
						'#bd3f3b', '#ff7800', '#1b7ec7'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
				responsive: true,
				title: {
						display: true,
						text: 'Bar Chart: Vulnerability found in Network'
					}
			}
});


var ctx = document.getElementById("NetChart").getContext('2d');
var NetChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
				datasets: [{
					data: [
						{{all_network_high}},
						{{all_network_medium}},
						{{all_network_low}},

					],
					backgroundColor: [
						'#bd3f3b', '#ff7800', '#1b7ec7'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
        responsive: true,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock extra_body %}
