{% extends 'dashboard/base.html' %}

{% block header_title %}Dashboard{% endblock header_title %}
{% block title %}Dashboard{% endblock title %}


{% block content %}
{% include "dashboard/_top_links.html" %}
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
            <h5>Project Analytics</h5>
        </div>
        <div class="widget-box">
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span4">
                        <canvas id="webscans"></canvas>
                    </div>
                    <div class="span4">
                        <canvas id="networkscan"></canvas>
                    </div>
                    <div class="span4">
                        <canvas id="testProChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="widget-box">
                                <div class="widget-title"><span class="icon"><i
                                        class="icon-th"></i></span>
                                    <h5>Project List</h5>
                                    <div class="buttons"><a data-toggle="modal" href="/projects/create_form/"
                                                            class="btn btn-primary btn-mini"><i
                                            class="icon-plus icon-white"></i> Add new Project</a>
                                    </div>

                                </div>
                                <div class="widget-content nopadding">
                                    <table class="table table-bordered data-table">
                                        <thead>
                                        <tr>
                                            <!--<th>Project ID</th>-->
                                            <th>Project</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Owner</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>{% for data in all_project %}
                                        <tr data-target="#">
                                            <!--<td>{{data.project_id}}</td>-->

                                            <td>
                                                <a href="/proj_data/?project_id={{data.project_id}}">{{data.project_name}}</a>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{data.project_start}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{data.project_end}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-important">{{data.project_owner}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-warning">{{data.project_status}}</span>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="widget-box">
                                <div class="widget-title"><span class="icon"><i
                                        class="icon-th"></i></span>
                                    <h5>Scanners List</h5>
                                </div>
                                <div class="widget-content nopadding">
                                    <table class="table table-bordered data-table">
                                        <thead>
                                        <tr>
                                            <th>Scanners</th>
                                            <th>High</th>
                                            <th>Medium</th>
                                            <th>Low</th>
                                            <!--<th>False Positive</th>-->
                                            <!--<th>Closed</th>-->
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="/zapscanner/zap_scan_list/">OWASP ZAP</a></td>
                                            <td><span
                                                    class="badge badge-important">{{all_zap_high.high_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-warning">{{all_zap_medium.medium_vul__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{all_zap_low.low_vul__sum}}</span></td>
                                            <td><span class="badge badge-inverse">{{all_zap_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/arachniscanner/arachni_scan_list">Arachni</a></td>
                                            <td><span
                                                    class="badge badge-important">{{all_arachni_high.high_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-warning">{{all_arachni_medium.medium_vul__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{all_arachni_low.low_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_arachni_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/burpscanner/burp_scan_list">Burp Scan</a></td>
                                            <td><span
                                                    class="badge badge-important">{{all_burp_high.high_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-warning">{{all_burp_medium.medium_vul__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{all_burp_low.low_vul__sum}}</span></td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_burp_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/webinspectscanner/webinspect_scan_list/">Webinspect</a></td>
                                            <td><span class="badge badge-important">{{all_webinspect_high.high_vul__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-warning">{{all_webinspect_medium.medium_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-info">{{all_webinspect_low.low_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_webinspect_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/acunetixscanner/acunetix_scan_list/">Acunetix</a></td>
                                            <td><span
                                                    class="badge badge-important">{{all_acunetix_high.high_vul__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-warning">{{all_acunetix_medium.medium_vul__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{all_acunetix_low.low_vul__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_acunetix_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/networkscanners/">OpenVAS</a></td>
                                            <td><span
                                                    class="badge badge-important">{{all_openvas_high.high_total__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-warning">{{all_openvas_medium.medium_total__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{all_openvas_low.low_total__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_openvas_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/networkscanners/nessus_scan">Nessus</a></td>
                                            <td><span
                                                    class="badge badge-important">{{all_nessus_high.high_total__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-warning">{{all_nessus_medium.medium_total__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{all_nessus_low.low_total__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_nessus_scan.total_vul__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/dependencycheck/dependencycheck_list">Dependency Check</a>
                                            </td>
                                            <td><span class="badge badge-important">{{all_dependency_high.SEVERITY_HIGH__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-warning">{{all_dependency_medium.SEVERITY_MEDIUM__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-info">{{all_dependency_low.SEVERITY_LOW__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-inverse">{{all_dependency_scan.total_vuln__sum}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="/findbugs/findbugs_list">FindBugs</a></td>
                                            <td><span class="badge badge-important">{{all_findbugs_high.SEVERITY_HIGH__sum}}</span>
                                            </td>
                                            <td><span class="badge badge-warning">{{all_findbugs_medium.SEVERITY_MEDIUM__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-info">{{all_findbugs_low.SEVERITY_LOW__sum}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-inverse">{{all_findbugs_scan.total_vuln__sum}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span6">
                    <canvas id="ProChart"></canvas>
                </div>
                <div class="span6">
                    <canvas id="ProBar"></canvas>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                <h5>Dynamic Scans List</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>URL</th>
                        <th>Status</th>
                        <th>Date Time</th>
                        <th>Total</th>
                        <th>High</th>
                        <th>Medium</th>
                        <th>Low</th>

                    </tr>
                    </thead>
                    <tbody>{% for data in zap %}
                    <tr data-target="#">
                        <td width="20%"><a href="/zapscanner/zap_list_vuln/?scan_id={{data.scan_scanid}}">{{data.scan_url}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">
                                    {{data.scan_status}}{{data.vul_status}} %
                                </div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                        <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>{% for data in burp %}
                    <tr data-target="#">
                        <td width="20%"><a href="/burpscanner/burp_vuln_list?scan_id={{data.scan_id}}">{{data.url}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">
                                    {{data.scan_status}}{{data.vul_status}} %
                                </div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                        <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>{% for data in arachni %}
                    <tr data-target="#">
                        <td width="20%"><a href="/burpscanner/burp_vuln_list?scan_id={{data.scan_id}}">{{data.url}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">
                                    {{data.scan_status}}{{data.vul_status}} %
                                </div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                        <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>{% for data in webinspect %}
                    <tr data-target="#">
                        <td width="20%"><a href="/burpscanner/burp_vuln_list?scan_id={{data.scan_id}}">{{data.url}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">
                                    {{data.scan_status}}{{data.vul_status}} %
                                </div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                        <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>{% for data in netsparker %}
                    <tr data-target="#">
                        <td width="20%"><a href="/burpscanner/burp_vuln_list?scan_id={{data.scan_id}}">{{data.url}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">
                                    {{data.scan_status}}{{data.vul_status}} %
                                </div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                        <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>{% for data in acunetix %}
                    <tr data-target="#">
                        <td width="20%"><a href="/burpscanner/burp_vuln_list?scan_id={{data.scan_id}}">{{data.url}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}{{data.vul_status}}%">
                                    {{data.scan_status}}{{data.vul_status}} %
                                </div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_vul}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_vul}}</span></td>
                        <td><span class="badge badge-info">{{data.low_vul}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

        <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                <h5>Static Scans List</h5>
                <!--<div class="buttons"><a data-toggle="modal"-->
                <!--href="/webscanners/"-->
                <!--class="btn btn-primary btn-mini"><i-->
                <!--class="icon-plus icon-white"></i> Network Scans</a>-->
                <!--</div>-->
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Status</th>
                        <th>Date Time</th>
                        <th>Total Vulnerability</th>
                        <th>HIGH</th>
                        <th>MEDIUM</th>
                        <th>LOW</th>
                    </tr>
                    </thead>
                    <tbody>{% for data in dependency_check %}
                    <tr data-target="#">
                        <td width="20%">
                            <a href="/dependencycheck/dependencycheck_all_vuln/?scan_id={{data.scan_id}}">{{data.project_name}}</a>
                        </td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}%">{{data.scan_status}} %</div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vuln}}</span></td>
                        <td><span class="badge badge-important">{{data.SEVERITY_HIGH}}</span></td>
                        <td><span class="badge badge-warning">{{data.SEVERITY_MEDIUM}}</span></td>
                        <td><span class="badge badge-info">{{data.SEVERITY_LOW}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tbody>{% for data in findbugs %}
                    <tr data-target="#">
                        <td width="20%">
                            <a href="/findbugs/findbugs_all_vuln/?scan_id={{data.scan_id}}">{{data.project_name}}</a>
                        </td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}%">{{data.scan_status}} %</div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vuln}}</span></td>
                        <td><span class="badge badge-important">{{data.SEVERITY_HIGH}}</span></td>
                        <td><span class="badge badge-warning">{{data.SEVERITY_MEDIUM}}</span></td>
                        <td><span class="badge badge-info">{{data.SEVERITY_LOW}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
                <h5>Network Scans List</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>IP</th>
                        <th>Status</th>
                        <th>Date Time</th>
                        <th>Total</th>
                        <th>High</th>
                        <th>Medium</th>
                        <th>Low</th>
                    </tr>
                    </thead>
                    <tbody>{% for data in network_dat %}
                    <tr data-target="#">

                        <td width="20%"><a href="/networkscanners/vul_details/?scan_id={{data.scan_id}}">{{data.scan_ip}}</a></td>
                        <td width="20%">
                            <div class="progress progress-info{% if data.scan_status != '100.0' %} active progress-striped{% endif %}">
                                <div class="bar" style="width: {{data.scan_status}}%">{{data.scan_status}} %</div>
                            </div>
                        </td>
                        <td>{{data.date_time}}</td>
                        <td><span class="badge badge-inverse">{{data.total_vul}}</span></td>
                        <td><span class="badge badge-important">{{data.high_total}}</span></td>
                        <td><span class="badge badge-warning">{{data.medium_total}}</span></td>
                        <td><span class="badge badge-info">{{data.low_total}}</span></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_body %}
<script type="text/javascript" src="/static/js/google_chart.js"></script>
<script type="text/javascript">
    // Load Charts and the corechart and barchart packages.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['High', {{all_high}}],
          ['Medium', {{all_medium}}],
          ['Low', {{all_low}}],
        ]);

        var piechart_options = {title:'Pie Chart: Vulnerability found in Project',
                       width:700,
                       height:400, colors: ['#bd3f3b', '#ff7800', '#1b7ec7',]};
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {title:'Barchart: Vulnerability Found in Project',
                       width:600,
                       height:400,
                       legend: 'none'};
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data, barchart_options);
      }







</script>


<script type="text/javascript" src="/static/js/Chart.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById("ProBar").getContext('2d');
var ProBar = new Chart(ctx, {
    type: 'pie',
    data: {
				datasets: [{
					data: [
						{{all_high}},
						{{all_medium}},
						{{all_low}},

					],
					backgroundColor: [
						'#bd3f3b', '#ff7800', '#1b7ec7'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
				responsive: true,
				title: {
						display: true,
						text: 'Vulnerability found in Project'
					}
			}
});


var ctx = document.getElementById("ProChart").getContext('2d');
var ProChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
				datasets: [{
					data: [
						{{all_high}},
						{{all_medium}},
						{{all_low}},

					],
					backgroundColor: [
						'#bd3f3b', '#ff7800', '#1b7ec7'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
        responsive: true,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var ctx = document.getElementById("webscans").getContext('2d');
var webscans = new Chart(ctx, {
    type: 'doughnut',
    data: {
				datasets: [{
					data: [
						{{all_web_high}},
						{{all_web_medium}},
						{{all_web_low}},

					],
					backgroundColor: [
						'#9b38d4', '#38c2d4', '#d48a38'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
        responsive: true,
        title: {
						display: true,
						text: 'Web Applications Scan'
					}
    }
});


var ctx = document.getElementById("networkscan").getContext('2d');
var networkscan = new Chart(ctx, {
    type: 'doughnut',
    data: {
				datasets: [{
					data: [
						{{all_network_high}},
						{{all_network_medium}},
						{{all_network_low}},

					],
					backgroundColor: [
						'#cc009e', '#0063cc', '#4dcc00'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
        responsive: true,
        title: {
						display: true,
						text: 'Network Scan'
					}
    }
});

var ctx = document.getElementById("testProChart2").getContext('2d');
var testProChart2 = new Chart(ctx, {
    type: 'doughnut',
    data: {
				datasets: [{
					data: [
						{{all_high}},
						{{all_medium}},
						{{all_low}},

					],
					backgroundColor: [
						'#bd3f3b', '#ff7800', '#1b7ec7'

					],
					label: 'Venerability'
				}],
				labels: [
					'High',
					'Medium',
					'Low',
				]
			},
    options: {
        responsive: true,
        title: {
						display: true,
						text: 'Static Scans'
					}
    }
});





</script>
{% endblock extra_body %}
