{% extends 'dashboard/base.html' %}

{% block header_title %}Web Scans Dashboard{% endblock header_title %}
{% block title %}Web Scans Dashboard{% endblock title %}

{% block content %}
{% include "dashboard/_top_links.html" %}
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
            <h5>Web Scan Analytics</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-title"><span class="icon"><i
                                        class="icon-th"></i></span>
                                    <h5>Web Scan List</h5>

                                </div>
                                <div class="widget-content nopadding">
                                    <table class="table table-bordered data-table">
                                        <thead>
                                        <tr>
                                            <!--<th>Project ID</th>-->
                                            <th>URL</th>
                                            <th>Date Time</th>
                                            <th>Total Vulnerability</th>
                                            <th>High</th>
                                            <th>Medium</th>
                                            <th>Low</th>

                                        </tr>
                                        </thead>
                                        <tbody>{% for data in all_web_data %}
                                        <tr data-target="#">
                                            <!--<td>{{data.project_id}}</td>-->
                                            <td>
                                                <a href="/web_dash_data/?scan_id={{data.scan_scanid}}{{data.scan_id}}">{{data.url}}{{data.scan_url}}</a>
                                            </td>
                                            <td>{{data.date_time}}</td>
                                            <td><span
                                                    class="badge badge-inverse">{{data.total_vul}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-important">{{data.high_vul}}</span>
                                            </td>
                                            <td><span
                                                    class="badge badge-warning">{{data.medium_vul}}</span>
                                            </td>
                                            <td><span class="badge badge-info">{{data.low_vul}}</span>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <ul class="site-stats">
                        <li class="bg_lh"><i class="icon-bolt"></i> <strong>{{total_web}}</strong>
                            <small>Total Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-th"></i> <strong>{{all_high}}</strong>
                            <small>High Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class="icon-indent-right"></i> <strong>{{all_medium}}</strong>
                            <small>Medium Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class=" icon-th-large"></i> <strong>{{all_low}}</strong>
                            <small>Low Vulnerability</small>
                        </li>
                        <li class="bg_lh"><i class=" icon-th-large"></i> <strong>{{all_false_positive}}</strong>
                            <small>False Positive</small>
                        </li>
                        <li class="bg_lh"><i class=" icon-th-large"></i> <strong>{{all_closed_vuln}}</strong>
                            <small>Closed Vulnerability</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="widget-content">
            <table class="columns">
                <tr>
                    <td>
                        <div id="piechart_div" style="border: 1px solid #ccc"></div>
                    </td>
                    <td>
                        <div id="barchart_div" style="border: 1px solid #ccc"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript" src="/static/js/google_chart.js"></script>
<script type="text/javascript">
    // Load Charts and the corechart and barchart packages.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['High', {{all_high}}],
          ['Medium', {{all_medium}}],
          ['Low', {{all_low}}],
        ]);

        var piechart_options = {title:'Web Vulnerability Pie Chart',
                       width:700,
                       height:400, colors: ['#bd3f3b', '#ff7800', '#1b7ec7',]};
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {title:'Web Vulnerability Bar Chart',
                       width:600,
                       height:400,
                       legend: 'none'};
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data, barchart_options);
      }
</script>
{% endblock extra_body %}
