{% extends 'tablehead.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function() {
        $("button").click(function(){
            var scan_id = [];
            $.each($("input[name='del_scan_id']:checked"), function(){
                scan_id.push($(this).val());
            });

            var json_scanid = scan_id.join(", ");
            $.ajax({
                type:'POST',
                <!--contentType: 'application/json; charset=utf-8',-->
                url:'/webscanners/del_scan/',
                data:{
                   scan_scanid: json_scanid,
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
            setTimeout(location.reload(), 6000);
        });

    });


</script>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">Domain List</a></div>

        <h1>Domain List</h1>
    </div>

    <div class="container-fluid">
        <hr>
        <!--<div class="span3 offset6">-->
            <!--{% if messages %}-->

            <!--{% for message in messages %}-->
            <!--<div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"-->
                                                            <!--href="#">×</a>-->
                <!--<p class="alert-heading">{{ message }}</p>-->
            <!--</div>-->
            <!--{% endfor %}-->

            <!--{% endif %}-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        <h5>Domains</h5>

                        <div class="buttons">
                            <button type="button" class="btn btn-danger btn-mini" onclick="">Delete Selected</button>
                        </div>

                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th><p><label><input type="checkbox" id="checkAll"/></label></p></th>
                                <th>Domain</th>
                                <th>Whois</th>
                                <th>Sub-Domain</th>
                                <th>Action</th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody>{% for data in all_domain %}
                            <tr data-target="#">
                                <td>
                                    <form>
                                        <label><input type="checkbox" value="{{data.scan_scanid}}" name="del_scan_id"
                                                      onClick="reload">
                                        </label>
                                    </form>
                                </td>
                                <td>
                                    <a href="/osintscan/sub_domain_search/?domain={{data.domains}}">{{data.domains}}</a>
                                </td>
                                <td>
                                    <a href="/osintscan/whois_info/?domain={{data.domains}}" class="btn btn-success btn-mini">Whois info</a>
                                </td>
                                <td>
                                    <a href="/osintscan/sub_domain_search/?domain={{data.domains}}"
                                       class="btn btn-primary btn-mini">Sub Domain</a>
                                </td>
                                <td>
                                    <form action="/osintscan/del_osint_domain/" method="post" class="forms-sample">

                                        {% csrf_token %}
                                        <input type="hidden" name="domain" value="{{data.domains}}"/>
                                        <button class="btn btn-danger"><i class="icon-remove"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-arrow-right"></i> </span>
                        <h5>Whois Info</h5>
                    </div>
                    <div class="widget-content nopadding">

                    </div>
                    {% for data in all_whois_info %}
                        <pre>
                            Domain Name : <span class="label label-success">{{ data.domain_name }}</span>
                            Name : <span class="label label-warning">{{ data.name }}</span>
                            City: <span class="label label-important">{{ data.city }}</span>
                            Creation Date: <span class="label label-info">{{ data.creation_date }}</span>
                            Expiration Date: <span class="label label-inverse">{{ data.expiration_date }}</span>
                            Country: <span class="label label-important">{{ data.country }}</span>
                            State: <span class="label label-info">{{ data.state }}</span>
                            Registrar: <span class="label label-waring">{{ data.registrar }}</span>
                            Referral URL: <span class="label label-success">{{ data.referral_url }}</span>
                            Address: <span class="label label-inverse">{{ data.address }}</span>
                            Name Servers:
                                            <span class="label label-important">{{ data.name_servers|safe}}</span>
                            ORG: <span class="label label-info">{{ data.org }}</span>
                            Emails: <span class="label label-waring">{{ data.emails|safe}}</span>
                        </pre>
                        {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}