{% extends 'tablehead.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function() {
        $("button").click(function(){
            var scan_id = [];
            $.each($("input[name='del_scan_id']:checked"), function(){
                scan_id.push($(this).val());
            });

            var json_scanid = scan_id.join(", ");
            $.ajax({
                type:'POST',
                <!--contentType: 'application/json; charset=utf-8',-->
                url:'/webscanners/del_scan/',
                data:{
                   scan_scanid: json_scanid,
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
            setTimeout(location.reload(), 6000);
        });

    });



</script>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">Domain List</a></div>

        <h1>Whois Info</h1>
    </div>

    <div class="container-fluid">
        <hr>
        <div class="span3 offset6">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"
                                                            href="#">×</a>
                <p class="alert-heading">{{ message }}</p>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-arrow-right"></i> </span>
                        <h5>Whois Info</h5>
                    </div>
                    <div class="widget-content nopadding">

                    </div>
                    {% for data in all_whois_info %}
                        <pre>
                            Domain Name : <span class="label label-success">{{ data.domain_name }}</span>
                            Name : <span class="label label-warning">{{ data.name }}</span>
                            City: <span class="label label-important">{{ data.city }}</span>
                            Creation Date: <span class="label label-info">{{ data.city }}</span>
                            Expiration Date: <span class="label label-inverse">{{ data.creation_date }}</span>
                            Country: <span class="label label-important">{{ data.country }}</span>
                            State: <span class="label label-info">{{ data.state }}</span>
                            Registrar: <span class="label label-waring">{{ data.registrar }}</span>
                            Referral URL: <span class="label label-success">{{ data.referral_url }}</span>
                            Address: <span class="label label-inverse">{{ data.address }}</span>
                            Name Servers: <span class="label label-important">{{ name_servers }}</span>
                            ORG: <span class="label label-info">{{ data.org }}</span>
                            Emails: {{ data.emails }}
                        </pre>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}