{% extends 'tablehead.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
$(document).ready(function() {
    $("#btn1").click(function() {

        var scan_id = [];
        $.each($("input[name='sub_domain']:checked"), function() {
            scan_id.push($(this).val());
        });

        json_scanid = scan_id.join(", ");
        $.ajax({
            type: 'POST',
            <!--contentType: 'application/json; charset=utf-8',-->
            url: '/osintscan/del_sub_domain/',
            data: {
                sub_domain: json_scanid,
                domain: $('input[name=domain]').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                setTimeout(location.reload(), 2000);
            }
        });


    });


    $("#btn2").click(function() {

        var scan_id = [];
        $.each($("input[name='sub_domain']:checked"), function() {
            scan_id.push($(this).val());
        });

        json_scanid = scan_id.join(", ");
        $.ajax({
            type: 'POST',
            <!--contentType: 'application/json; charset=utf-8',-->
            url: '/zapscanner/zap_scan/',
            data: {
                url: json_scanid,
                project_id: '{{ all_domain.0.project_id }}',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function() {
                    <!--setTimeout(location.reload(), 2000);-->
            }
        });

    });
});
</script>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="/osintscan/domain_list/" class="current">Domain List</a></div>

        <h1>Sub-Domain Search </h1>
    </div>

    <div class="container-fluid">
        <hr>
        <!--<div class="span3 offset6">-->
        <!--{% if messages %}-->

        <!--{% for message in messages %}-->
        <!--<div class="alert alert-success alert-block"><a class="close" data-dismiss="alert"-->
        <!--href="#">×</a>-->
        <!--<p class="alert-heading">{{ message }}</p>-->
        <!--</div>-->
        <!--{% endfor %}-->

        <!--{% endif %}-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span6 offset3">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        <h5>Sub-Domains Search List</h5>
                        <div class="buttons">
                            <button type="button" class="btn btn-danger btn-mini" id="btn1"
                                    >
                                Delete Selected
                            </button>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btn btn-success btn-mini" id="btn2"
                                    >ZAP Scan
                            </button>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table with-check">
                            <thead>
                            <tr>
                                <th><p><label><input type="checkbox"
                                                     /></label></p></th>
                                <th>Domain</th>
                                <th>Sub-Domain</th>
                                <th>Action</th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                            </thead>
                            <tbody>{% for data in all_domain %}
                            <tr data-target="#">
                                <td>
                                    <form id="myform">
                                        <label><input type="checkbox" value="{{data.sub_domains}}" id="{{data.id}}"
                                                      class="checkbox_check"
                                                      name="sub_domain">

                                        </label>
                                    </form>
                                </td>
                                <td>
                                    <a href="#{{data.domains}}">{{data.domains}}</a>
                                </td>
                                <td>
                                    <a href="#">{{data.sub_domains}}</a>
                                </td>
                                <td>
                                    <form action="/osintscan/del_sub_domain/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="sub_domain" value="{{data.sub_domains}}">
                                        <input type="hidden" name="domain" value="{{data.domains}}">
                                        <button class="btn btn-danger"><i class="icon-remove"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}