

{% extends 'dashboard/base.html' %}

{% block body %}
{% for data in clair_vuln_details %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-auto">
                    <div class="float-right">
                        <!-- Large modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Jira Ticket
                        </button>

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1>{{ data.Name }}</h1>
                <br>
                <div class="card">
                    <div class="accordion" id="accordionExample">
                        <div class="card m-b-0">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                       aria-controls="collapseOne">
                                        <i class="m-r-5 fa fa-chevron-down" aria-hidden="true"></i>
                                        <span>Description</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{data.Description | safe}}
                                    <br>

                                    <strong> Namespace Name : </strong>
                            {{data.NamespaceName}}</a><br><br>
                        <strong> Feature Name : </strong>
                            {{data.FeatureName}}</a><br><br>
                        <strong> Feature Version : </strong>
                            {{data.FeatureVersion}}</a><br><br>
                        <strong> Link: </strong>
                            <a href="{{data.Link}}" target="_blank">{{data.Link}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}