
{% extends 'dashboard/base.html' %}

{% block body %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    $(document).ready(function() {
        $("button").click(function(){
            var scan_id = ['a7af5b68-b661-45ad-90fd-ffa27526cdce'];
            $.each($("input[name='del_scan_id']:checked"), function(){
                scan_id.push($(this).val());
            });

            var json_scanid = scan_id.join(", ");
            $.ajax({
                type:'POST',
                <!--contentType: 'application/json; charset=utf-8',-->
                url:'/tools/nikto_scan_del/',
                data:{
                   scan_id: json_scanid,
                   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                sucess:function(){

                }
            });
            setTimeout(function(){location.reload();},1000);
        });

    });


$(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to delete this?');
})




</script>

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <!--<div class="btn-group" role="group" aria-label="Basic example">-->
                            <!--<a href="/webscanners/xml_upload" class="btn btn-primary btn-mini"><i-->
                            <!--class="icon-upload-alt"></i> Upload XML</a>-->
                            <!--</div>-->
                            <button type="button" class="btn btn-danger btn-mini" onclick="">Delete Selected</button>
                        </div>
                        <br>
                        <br>
                        <!--<div class="float-right">-->
                        <!--<form action="/clair/export/" method="post"-->
                        <!--class="forms-sample">-->
                        <!--{% csrf_token %}-->
                        <!--<div class="form-row align-items-center">-->
                        <!--<div class="col-auto my-1">-->
                        <!--<select name="type" class="custom-select mr-sm-2" id="inlineFormCustomSelect">-->
                        <!--<option value="csv" selected>CSV</option>-->
                        <!--<option value="json">JSON</option>-->
                        <!--<option value="yaml">YAML</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--<div class="col-auto my-1">-->
                        <!--<input type="hidden" name="scan_id"-->
                        <!--value="{% for data in all_clair_scan %}{{data.scan_id}}{% endfor %}"/>-->
                        <!--<button type="submit" class="btn btn-primary"><i-->
                        <!--class="fas fa-arrow-alt-circle-down"></i></button>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</form>-->

                        <!--</div>-->
                        <br>
                        <div class="d-md-flex align-items-center">
                            <h1 class="card-title">Nikto Scan List</h1>
                        </div>
                        <br>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="nikto_scan_list" class="table table-bordered data-table">
                                    <thead>
                                    <tr>
                                        <th><label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox">
                                            <span class="checkmark"></span>
                                        </label></th>
                                        <th>URL</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>{% for data in all_nikto %}
                                    <tr data-target="#">
                                        <td>
                                            <form>
                                                <label><input type="checkbox" value="{{data.scan_id}}"
                                                              name="del_scan_id"
                                                              onClick="reload">

                                                </label>
                                            </form>
                                        </td>
                                        <td><a href="/tools/nikto_result_vul/?scan_id={{data.scan_id}}">
                                            {{ data.scan_url}}</a>
                                        </td>
                                        <td>{{data.date_time}}</td>
                                        <td class="confirm-delete">
                                            <form action="/tools/nikto_scan_del/" method="post" class="forms-sample">

                                                {% csrf_token %}
                                                <input type="hidden" name="scan_id" value="{{data.scan_id}}"/>
                                                <button class="btn btn-danger btn-mini"><i class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}