{% extends 'header.html' %}
{% block body %}

<div id="content">{% for data in vul_dat %}
    <div id="content-header">
        <div id="breadcrumb"><a href="/zapscanner/zap_vuln_list/?scan_id={{data.scan_id}}" title="Go to Home"
                                class="tip-bottom"><i class="icon-home"></i> Vulnerability Details</a>
            <a
                    href="#" class="current">{{ data.name }}</a></div>
        <div>
            <div class="btn-group">
                <a class="btn btn-info"
                   href="#"><i
                        class="icon-edit icon-white"></i>
                </a>
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/zapscanner/edit_zap_vuln_check/?vuln_id={{data.vuln_id}}"><i
                            class="icon-pencil"></i> Edit </a></li>
                    <li>
                        <a href="/jira/submit_jira_ticket/?summary={{data.name}}&description={{data.description}}%0a%0a%0a Vulnerable URL: {{data.url}} %0a%0a Vulnerable Parameter: {{data.param}} %0a%0a Solution: {{data.solution}} %0a%0a Archery URL: {SERVERIP}/webscanners/vuln_dat/?vuln_id={{data.vuln_id}} %0a%0a Request Header: {{ data.requestHeader }}&scanner=zap&vuln_id={{data.vuln_id}}&scan_id={{data.scan_id}} "><i
                                class="icon-random"></i> Jira Ticket</a>
                    </li>
                </ul>
            </div>
            <h1>{{ data.name }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Vulnerability Name:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info">{{ data.name }} <br></span><span
                            class="badge badge-{{data.vuln_color}}"> {{ data.risk }}</span>
                        <br><br>

                        <strong> Flase Positive : </strong>
                        <form method="POST" action="/zapscanner/zap_vuln_details/">{% csrf_token %}
                            <input type="hidden" name="vuln_id" value="{{data.vuln_id}}">
                            <input type="hidden" name="false" value="Yes">
                            <input type="hidden" name="status" value="{{data.vuln_status}}">
                            <input type="hidden" name="vuln_name" value="{{data.name}}">
                            <input type="hidden" name="scan_id" value="{{data.scan_id}}">
                            <button class="btn btn-info btn-mini">Yes</button>
                        </form>
                        <br>
                        <strong> Severity: </strong> <br><br>
                        <strong> Sourceid :</strong>{{data.sourceid}}<br><br>
                        <strong> Reference : </strong>{{data.reference | safe}}<br>
                    </div>
                </div>

                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Description:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {{data.description | safe}}
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Instance:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        {% for da in evi %}{{da }}<br><br>{% endfor %}
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Solutions:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <strong> Solutions : </strong>{{data.solution | safe}}<br><br>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12 ">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Request Header:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.requestHeader }} <br> {{ data.requestBody }}</pre>
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="span12">-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Header:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.responseHeader }}</pre>
                    </div>
                </div>
                <!--</div>-->
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Body:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <pre
                        >{{ data.responseBody }}</pre>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>Response Body:</h5>
                    </div>
                    <div class="widget-content">
                        <span class="label label-info"></span>
                        <!--<iframe src="{{data.url}}" height="900" width="1200"></iframe>-->
                        <iframe src="data:text/html;charset=utf-8,{{data.responseBody}}" height="900" width="1200"/>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}