{% extends 'dashboard/base.html' %}

{% block body %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="d-md-flex align-items-center">
                            <h5 class="card-title">Vulnerability List</h5>
                        </div>
                        <br>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="zap_scans_list" class="table table-bordered data-table">
                                    <thead>
                            <tr>
                                <th>Vulnerability</th>
                                <th>Risk</th>
                            </tr>
                            </thead>
                            <tbody>{% for data in zap_all_vul %}
                            <tr data-target="#">
                                <td><a href="/zapscanner/zap_vuln_details/?scan_id={{data.scan_id}}&scan_name={{data.name}}">{{data.name}}</a>
                                </td>
                                <td><span class="badge badge-pill badge-{{data.vuln_color}}">{{data.risk}}</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}