<div class="center">
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"><a href="/dashboard/"> <i class="icon-dashboard"></i> <span
                        class="label label-important"></span>Dashboard </a></li>
                <li class="bg_lg"><a href="/web_dashboard"> <i class="icon-signal"></i>Web Dashboard</a></li>
                <li class="bg_ly"><a href="/net_dashboard"> <i class="icon-inbox"></i><span
                        class="label label-success"></span> Network Dashboard </a></li>
                <li class="bg_lb"><a href="/project_dashboard/"> <i class="icon-inbox"></i><span
                        class="label label-important"></span> Project Dashboard </a></li>
                <li class="bg_lo"><a href="/webscanners/"> <i class="icon-th"></i> Web Scan</a></li>
                <li class="bg_ls"><a href="/networkscanners/ip_scan/"> <i class="icon-fullscreen"></i> Network Scan</a>
                </li>

            </ul>
        </div>

    </div>
</div>