<!DOCTYPE html>
<html lang="en">
<head>
    <title>Archery</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/uniform.css"/>
    <link rel="stylesheet" href="/static/css/select2.css"/>
    <link rel="stylesheet" href="/static/css/archery-style.css"/>
    <link rel="stylesheet" href="/static/css/archery-media.css"/>
    <link rel="stylesheet" href="/static/css/jquery.gritter.css"/>
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<div id="sidebar">
    <ul>
        <li><a href="/dashboard/"><i class="icon icon-th"></i> <span>Dashboard</span></a></li>
        <li><a href="/project_dashboard/"><i class="icon-tasks"></i> <span>Project Dashboard</span></a></li>
        <li><a href="/web_dashboard/"><i class="icon-tasks"></i> <span>Web Dashboard</span></a></li>
        <li><a href="/net_dashboard/"><i class="icon-tasks"></i> <span>Network Dashboard</span></a></li>


        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Scan</span> <span
                class="label label-important">10</span></a>
            <ul>
                <li><a href="/zapscanner/zap_scan_list/"><i class="icon-tasks"></i> <span>ZAP Scans</span></a></li>
                <li><a href="/burpscanner/burp_scan_list"><i class="icon-tasks"></i> <span>Burp Scans</span></a></li>
                <li><a href="/arachniscanner/arachni_scan_list"><i class="icon-tasks"></i> <span>Arachni</span></a></li>
                <li><a href="/netsparkerscanner/netsparker_scan_list/"><i class="icon-tasks"></i>
                    <span>Netsparker</span></a></li>
                <li><a href="/webinspectscanner/webinspect_scan_list/"><i class="icon-tasks"></i>
                    <span>Webinspect</span></a></li>
                <li><a href="/acunetixscanner/acunetix_scan_list/"><i class="icon-tasks"></i><span>Acunetix</span></a></li>
                <li><a href="/banditscanner/banditscans_list"><i class="icon-tasks"></i><span>Bandit Scans</span></a></li>
                <li><a href=" /dependencycheck/dependencycheck_list"><i class="icon-tasks"></i><span>Dependency Check</span></a></li>
                <li><a href="/networkscanners/"><i class="icon-tasks"></i> <span>OpenVAS Scans</span></a></li>
                <li><a href="/networkscanners/nessus_scan/"><i class="icon-tasks"></i> <span>Nessus</span></a></li>
            </ul>

        </li>
        <li><a href="/manual_scan/"><i class="icon-tasks"></i><span>Manual Scans</span></a></li>
        <li class="submenu">
            <a href="#">
                <i class="icon icon-inbox"></i>
                <span>Tools</span><span
                    class="label label-important">4</span>
            </a>
            <ul>
                <li><a href="/tools/sslscan/">SSLScan</a></li>
                <li><a href="/tools/nikto/">Nikto</a></li>
                <!--<li><a href="/tools/nmap_scan/">Nmap</a></li>-->
                <li><a href="/tools/nmap_vulners_scan/">Nmap Vulners</a></li>
                <!--<li><a href="/webscanners/burp_scan_list">Burp Scan</a></li>-->
                <!--<li><a href="/webscanners/arachni_scan_list">Arachni</a></li>-->
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>OSINT Scan</span> <span
                class="label label-important">2</span></a>
            <ul>
                <li><a href="/osintscan/domain_list/"><i class="icon-tasks"></i> <span>Domain List</span></a></li>
                <li><a href="/osintscan/domain_osint/"><i class="icon-tasks"></i> <span>Domain OSINT</span></a></li>

            </ul>
        </li>
    </ul>
</div>

{% block body %}

{% endblock %}
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"><a href="http://themedesigner.in"></a></div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/archery.js"></script>
<script src="/static/js/archery.tables.js"></script>
<script src="/static/js/jquery.gritter.min.js"></script>
<script src="/static/js/jquery.peity.min.js"></script>
<script src="/static/js/archery.popover.js"></script>
<!--<script src="/static/js/archery.interface.js"></script>-->

</body>
</html>
