{% extends 'dashboard_header.html' %}
{% block body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load Charts and the corechart and barchart packages.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart and bar chart when Charts is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['High', {{all_high}}],
          ['Medium', {{all_medium}}],
          ['Low', {{all_low}}],
        ]);

        var piechart_options = {title:'Pie Chart: Vulnerability found in Project',
                       width:800,
                       height:400, colors: ['#bd3f3b', '#ff7800', '#1b7ec7',]};
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(data, piechart_options);

        var barchart_options = {title:'Barchart: Vulnerability Found in Project',
                       width:800,
                       height:400,
                       legend: 'none'};
        var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        barchart.draw(data, barchart_options);
      }



</script>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">Project Dashboard</a></div>
        <h1>Project Dashboard</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% include "dash_bar.html" %}
                <div class="row-fluid">
                    <div class="widget-box">
                        <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
                            <h5>Project Analytics</h5>
                        </div>
                        <div class="widget-content">
                            <div class="row-fluid">
                                <div class="span9">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="widget-box">
                                                <div class="widget-title"><span class="icon"><i
                                                        class="icon-th"></i></span>
                                                    <h5>Project List</h5>

                                                </div>
                                                <div class="widget-content nopadding">
                                                    <table class="table table-bordered data-table">
                                                        <thead>
                                                        <tr>
                                                            <!--<th>Project ID</th>-->
                                                            <th>Project</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Owner</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>{% for data in all_project %}
                                                        <tr data-target="#">
                                                            <!--<td>{{data.project_id}}</td>-->

                                                            <td>
                                                                <a href="/proj_data/?project_id={{data.project_id}}">{{data.project_name}}</a>
                                                            </td>
                                                            <td><span
                                                                    class="badge badge-inverse">{{data.project_start}}</span>
                                                            </td>
                                                            <td><span
                                                                    class="badge badge-inverse">{{data.project_end}}</span>
                                                            </td>
                                                            <td><span
                                                                    class="badge badge-important">{{data.project_owner}}</span>
                                                            </td>
                                                            <td><span
                                                                    class="badge badge-warning">{{data.project_status}}</span>
                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <ul class="site-stats">
                                        <li class="bg_lh"><i class="icon-bolt"></i> <strong>{{all_vuln}}</strong>
                                            <small>All Vulnerability</small>
                                        </li>
                                        <li class="bg_lh"><i class="icon-th"></i> <strong>{{total_network}}</strong>
                                            <small>Network Vulnerability</small>
                                        </li>
                                        <li class="bg_lh"><i class="icon-globe"></i>
                                            <strong>{{total_web}}</strong>
                                            <small>Web Vulnerability</small>
                                        </li>
                                        <li class="bg_lh"><i class="icon-indent-right"></i>
                                            <strong>{{all_high}}</strong>
                                            <small>Total High</small>
                                        </li>
                                        <li class="bg_lh"><i class=" icon-th-large"></i> <strong>{{all_medium}}</strong>
                                            <small>Total Medium</small>
                                        </li>
                                        <li class="bg_lh"><i class="icon-align-center"></i> <strong>{{all_low}}</strong>
                                            <small>Total Low</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <table class="columns">
                                <tr>
                                    <td>
                                        <div id="piechart_div" style="border: 1px solid #ccc"></div>
                                    </td>
                                    <td>
                                        <div id="barchart_div" style="border: 1px solid #ccc"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}